<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigchip_bet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{118,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,124}}</string>
                <key>sourceSize</key>
                <string>{118,124}</string>
            </dict>
            <key>bigchip_bet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{118,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,124}}</string>
                <key>sourceSize</key>
                <string>{118,124}</string>
            </dict>
            <key>bigchip_bet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,128},{118,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,124}}</string>
                <key>sourceSize</key>
                <string>{118,124}</string>
            </dict>
            <key>bigchip_bet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{118,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,124}}</string>
                <key>sourceSize</key>
                <string>{118,124}</string>
            </dict>
            <key>bigchip_bet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{118,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,124}}</string>
                <key>sourceSize</key>
                <string>{118,124}</string>
            </dict>
            <key>bigchip_bet_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,124}}</string>
                <key>sourceSize</key>
                <string>{118,124}</string>
            </dict>
            <key>smallchip_bet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,192},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>smallchip_bet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,128},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>smallchip_bet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,192},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>smallchip_bet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,128},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>smallchip_bet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,192},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>smallchip_bet_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,128},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chip_bjl.png</string>
            <key>size</key>
            <string>{482,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adbf28f9fc5d1755e7db04eb618dc6d2$</string>
            <key>textureFileName</key>
            <string>chip_bjl.png</string>
        </dict>
    </dict>
</plist>
