<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/Lobby/GUI/Hall/libaorukou_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,342},{109,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,51}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/rz_rukou_jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,399},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/rz_rukou_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,397},{95,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,50}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,232},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/common_cd.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,239},{187,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,188}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_dibuban_bg_9s.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,431},{410,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,83}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_email_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,437},{205,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,98}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_huodongtu_dian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,2},{13,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,13}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_huodongtu_dian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,19},{13,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,13}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_jiahao_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,63},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_jinbi_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,2},{55,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,57}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_jinbidi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,681},{242,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{242,52}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_julebu_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,518},{205,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,98}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_kefu2_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,539},{205,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,98}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_libao4_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,399},{29,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,28}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_paihang_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,518},{205,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,98}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_puchanbuzhu1_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,436},{217,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,139}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_puchanbuzhu2_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,356},{127,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,39}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_shangdian_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,239},{238,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,194}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_shezhi2_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,579},{205,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,98}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_TCbi_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,120},{55,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,51}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_tixian_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,620},{205,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,98}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_yinhang_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,641},{205,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,98}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/userinfo_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,2},{426,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{426,202}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/update_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,579},{148,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,22}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_yinhangxiao_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,175},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/update_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,605},{148,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,22}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/vip_touxiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,208},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/update_mask_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{508,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{508,233}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/update_mask_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,208},{247,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,219}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_dibu_di2_9s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,743},{225,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,80}</string>
			</dict>
			<key>client/res/Lobby/GUI/Hall/dating_dibu_di3_9s.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,681},{224,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,88}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HallPlist.png</string>
			<key>realTextureFileName</key>
			<string>HallPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>