<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/Lobby/GUI/RoomList/title_97QH.png</key>
			<dict>
				<key>frame</key>
				<string>{{1166,1103},{407,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{407,93}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/title_BLCS.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,1035},{401,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{401,97}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/title_BXNW.png</key>
			<dict>
				<key>frame</key>
				<string>{{1385,845},{379,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{379,127}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/title_content.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{658,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{658,249}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/title_CSD.png</key>
			<dict>
				<key>frame</key>
				<string>{{1653,976},{330,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,129}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/title_DNTG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1296,976},{353,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{353,123}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/title_Egito.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,1097},{317,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{317,92}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/title_JNH.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1136},{299,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{299,79}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/title_JXLW.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1151},{382,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,96}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/title_LKPY.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,906},{381,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,125}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/title_Plinko.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,646},{240,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,88}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/title_SHZ.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,965},{355,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{355,128}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/title_TMFK.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,255},{254,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,130}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/title_Truco.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,389},{233,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,118}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/item_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1812,244},{161,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,39}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/item_2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1812,157},{102,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,39}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/item_3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1812,200},{219,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,40}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/item_4_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1946,2},{82,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,38}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/enter_limit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1768,845},{267,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,34}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1812,2},{130,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,151}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/icon_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1946,44},{55,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,57}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/icon_tc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1946,105},{55,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,51}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/item_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,255},{380,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,387}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/item_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,686},{323,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,275}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/item_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1411,620},{408,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{408,221}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/item_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,2},{379,404}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{379,404}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/item_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,646},{334,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{334,281}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/item_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,931},{396,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,216}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/item_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1047,2},{380,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,387}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/item_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,410},{346,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{346,272}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/item_3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,681},{408,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{408,221}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/item_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1431,2},{377,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{377,388}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/item_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1047,393},{360,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,284}</string>
			</dict>
			<key>client/res/Lobby/GUI/RoomList/item_4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1411,394},{408,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{408,222}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>RoomList1.png</string>
			<key>realTextureFileName</key>
			<string>RoomList1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>