<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/yule/jdob/res/GUI/double_tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1786},{1255,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1255,125}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/double_tips_dian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1183,2029},{17,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,16}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/double_tips_povoado.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,1991},{248,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,51}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/jdob_head_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,1},{171,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,174}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/jdob_head_clip.png</key>
			<dict>
				<key>frame</key>
				<string>{{1083,634},{170,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_0_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1752,1671},{68,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,72}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_1_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,646},{68,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,72}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_2_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,716},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_3_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1473,199},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_4_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,199},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_5_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,199},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_6_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,357},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_7_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,431},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_8_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1523,505},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_9_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1551,357},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_an_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,579},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_ann1_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1314,531},{207,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,78}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_ann2_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,220},{237,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,78}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_cd_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1610,1},{111,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,114}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_cm1_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,392},{169,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,173}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_cm2_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,220},{170,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,173}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_cm3_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1314,357},{166,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,172}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_cm4_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,563},{168,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,173}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_cm5_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,459},{169,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,173}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_dg_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1375,1284},{385,415}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{385,415}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_fg_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1097,1},{201,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,194}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_fh_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1732,92},{209,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,59}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_fun_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,1587},{216,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,72}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_gb_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,634},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_grxx_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1877,1},{531,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{531,161}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_grxxdk_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1877,534},{458,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{458,134}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_grxxtx_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1473,1},{132,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,135}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_gsy_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,733},{287,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{287,57}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_jc_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,1950},{621,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{621,80}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_jdt_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1233},{761,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{761,49}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_jiantou_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1587},{376,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,63}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_jiantou_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1723,1},{89,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,91}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_jl_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1473,135},{257,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,62}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_jltc_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{791,812}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{791,812}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_jlxx_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2013,700},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_jn_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1913},{819,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{819,124}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_jnd_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,357},{59,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,64}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_jz1_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1097,197},{223,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,158}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_jz2_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1049,357},{155,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,79}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_jz3_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,1991},{116,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,34}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_ksy_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,357},{287,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{287,57}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_lanzi1_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,1294},{301,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{301,220}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_lanzi2_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,1597},{301,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{301,219}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_lanzi3_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1284},{301,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{301,218}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_lanzi4_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,1},{301,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{301,217}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_lanzi5_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,1284},{301,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{301,218}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_lsjl_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1688,303},{111,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,114}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_sm_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1522,1212},{330,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,66}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_tc1_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1335,616},{594,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{594,516}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_tc2_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1375,1671},{375,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,73}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_tcdk1_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,1786},{567,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{567,162}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_tcsk_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2013,534},{85,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,31}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_txk_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,177},{149,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,150}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_txk2_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,473},{104,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,31}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_xutou_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1877,994},{298,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,136}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_xz_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,1},{199,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,34}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_xzzt_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,438},{139,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,103}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_yy_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2013,621},{77,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,33}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_zjqy_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,815},{848,756}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{848,756}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_zxrs_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,1462},{137,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,114}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_zytc_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,815},{416,574}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{416,574}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_zytc2_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1665},{1372,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1372,119}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txztxk_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1877,1900},{144,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,147}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txztxk2_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,1284},{176,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,150}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txztxk3_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1473,303},{213,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,52}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txztxk3_jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1190,1991},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/txz_zytc3_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,1913},{405,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{405,76}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/text/Aposta total .png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,202},{191,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,20}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/text/Avancado.png</key>
			<dict>
				<key>frame</key>
				<string>{{1229,1913},{119,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,23}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/text/Duplo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,395},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/text/PENTA.png</key>
			<dict>
				<key>frame</key>
				<string>{{1848,400},{71,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,18}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/text/Problema.png</key>
			<dict>
				<key>frame</key>
				<string>{{1849,297},{101,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,16}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/text/Quadruplo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,2027},{109,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,20}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/text/Simples.png</key>
			<dict>
				<key>frame</key>
				<string>{{1849,202},{93,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,18}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>jdobGUIPlist.png</string>
			<key>realTextureFileName</key>
			<string>jdobGUIPlist.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>