<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,785},{174,145}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,34},{174,145}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>game_icon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{192,187}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{192,187}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>game_icon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,592},{192,191}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{192,191}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>game_icon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{192,197}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{192,197}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>game_icon_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,785},{174,145}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,34},{174,145}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>game_icon_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,785},{174,145}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,34},{174,145}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>game_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,785},{174,145}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,34},{174,145}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>game_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,203}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{202,203}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>game_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{192,191}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{192,191}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>game_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,399},{192,191}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{192,191}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>game_icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,205},{192,199}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{192,199}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>game_icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{202,201}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{202,201}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>game_icon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{184,187}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{184,187}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>game_icon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,785},{174,145}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,34},{174,145}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameicons.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb9a110ba6175b3b66e9b6aa73518fab$</string>
            <key>textureFileName</key>
            <string>gameicons.png</string>
        </dict>
    </dict>
</plist>
