<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/recharge/GUI2/xsc_anniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1729,160},{309,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,105}</string>
			</dict>
			<key>client/res/recharge/GUI2/xsc_guanbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1989,2},{57,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,65}</string>
			</dict>
			<key>client/res/recharge/GUI2/xsc_jb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1729,2},{256,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,154}</string>
			</dict>
			<key>client/res/recharge/GUI2/xsc_jb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,2},{256,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,154}</string>
			</dict>
			<key>client/res/recharge/GUI2/xsc_jb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,625},{256,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,154}</string>
			</dict>
			<key>client/res/recharge/GUI2/xsc_jb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,625},{256,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,154}</string>
			</dict>
			<key>client/res/recharge/GUI2/xsc_jb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,490},{256,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,154}</string>
			</dict>
			<key>client/res/recharge/GUI2/xsc_jb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,648},{256,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,154}</string>
			</dict>
			<key>client/res/recharge/GUI2/xsc_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,399},{749,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{749,222}</string>
			</dict>
			<key>client/res/recharge/GUI2/xsc_kuang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,783},{107,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,68}</string>
			</dict>
			<key>client/res/recharge/GUI/shangdian_guanbi_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1864,306},{168,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,188}</string>
			</dict>
			<key>client/res/recharge/GUI/shangdian_tishi_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,937},{244,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,70}</string>
			</dict>
			<key>client/res/recharge/GUI/shangdian_xueding_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,2},{446,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{446,168}</string>
			</dict>
			<key>client/res/recharge/GUI/sp_coin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,2},{371,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,230}</string>
			</dict>
			<key>client/res/recharge/GUI2/jinbiyou.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,498},{274,435}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,435}</string>
			</dict>
			<key>client/res/recharge/GUI2/jinbizuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{586,393}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{586,393}</string>
			</dict>
			<key>client/res/recharge/GUI2/xsc_dbkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,937},{121,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,81}</string>
			</dict>
			<key>client/res/recharge/GUI/shangcheng_goumaidan_anniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,373},{510,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{510,113}</string>
			</dict>
			<key>client/res/recharge/GUI/shangcheng_goumaidan_biaoti.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,236},{1133,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1133,71}</string>
			</dict>
			<key>client/res/recharge/GUI/shangcheng_goumaidan_di1_9s.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,855},{91,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,67}</string>
			</dict>
			<key>client/res/recharge/GUI/shangcheng_goumaidan_di2_9s.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,783},{105,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>client/res/recharge/GUI/shangcheng_goumaidan_wenzi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,311},{1268,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1268,58}</string>
			</dict>
			<key>client/res/recharge/GUI/shangcheng_goumaidan_wenzi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1394,174},{261,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,35}</string>
			</dict>
			<key>client/res/recharge/GUI/shangcheng_goumaidan_wenzi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,974},{118,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,32}</string>
			</dict>
			<key>client/res/recharge/GUI/shangcheng_goumaidan_wenzi4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1729,269},{305,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{305,33}</string>
			</dict>
			<key>client/res/recharge/GUI/shangcheng_goumaidan_wenzi5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,974},{236,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,32}</string>
			</dict>
			<key>client/res/recharge/GUI/shangcheng_jiazai_juhua.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,625},{162,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,153}</string>
			</dict>
			<key>client/res/recharge/GUI/shangcheng_jiazai_wenzi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,174},{423,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{423,40}</string>
			</dict>
			<key>client/res/recharge/GUI/shangcheng_jiazai_wenzi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,937},{759,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{759,33}</string>
			</dict>
			<key>client/res/recharge/GUI/shangchengR.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,855},{104,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,69}</string>
			</dict>
			<key>client/res/recharge/GUI2/xsc_jb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,783},{179,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,137}</string>
			</dict>
			<key>client/res/recharge/GUI2/xsc_jb10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1138,806},{256,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,154}</string>
			</dict>
			<key>client/res/recharge/GUI2/xsc_jb7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,498},{256,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,154}</string>
			</dict>
			<key>client/res/recharge/GUI2/xsc_jb8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1553,373},{256,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,154}</string>
			</dict>
			<key>client/res/recharge/GUI2/xsc_jb9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1398,656},{256,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,154}</string>
			</dict>
			<key>client/res/recharge/GUI2/xsc_zs1.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,783},{193,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,105}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ShopPlist.png</string>
			<key>realTextureFileName</key>
			<string>ShopPlist.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>