<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>!.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{78,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,163}}</string>
                <key>sourceSize</key>
                <string>{78,163}</string>
            </dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{115,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,169}}</string>
                <key>sourceSize</key>
                <string>{115,169}</string>
            </dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{76,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,109}}</string>
                <key>sourceSize</key>
                <string>{76,109}</string>
            </dict>
            <key>D.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{82,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,109}}</string>
                <key>sourceSize</key>
                <string>{82,109}</string>
            </dict>
            <key>E.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{70,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,109}}</string>
                <key>sourceSize</key>
                <string>{70,109}</string>
            </dict>
            <key>G.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,169}}</string>
                <key>sourceSize</key>
                <string>{115,169}</string>
            </dict>
            <key>R.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>Y.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{70,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,109}}</string>
                <key>sourceSize</key>
                <string>{70,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XT_1161.png</string>
            <key>size</key>
            <string>{897,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ded3d98a90fa1f0d0cb21732bfc3ae7$</string>
            <key>textureFileName</key>
            <string>XT_1161.png</string>
        </dict>
    </dict>
</plist>
