<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daiji_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,655},{469,215}}</string>
                <key>offset</key>
                <string>{-9,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,136},{469,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,874},{469,215}}</string>
                <key>offset</key>
                <string>{-9,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,136},{469,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,874},{469,215}}</string>
                <key>offset</key>
                <string>{-9,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,136},{469,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,436},{469,215}}</string>
                <key>offset</key>
                <string>{-9,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,136},{469,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,438},{469,215}}</string>
                <key>offset</key>
                <string>{-9,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,136},{469,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,657},{469,215}}</string>
                <key>offset</key>
                <string>{-9,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,136},{469,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,657},{469,215}}</string>
                <key>offset</key>
                <string>{-9,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,136},{469,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{469,215}}</string>
                <key>offset</key>
                <string>{-9,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,136},{469,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,219},{469,215}}</string>
                <key>offset</key>
                <string>{-9,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,136},{469,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,219},{469,215}}</string>
                <key>offset</key>
                <string>{-9,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,136},{469,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{469,217}}</string>
                <key>offset</key>
                <string>{-9,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,134},{469,217}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{469,217}}</string>
                <key>offset</key>
                <string>{-9,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,134},{469,217}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,221},{469,217}}</string>
                <key>offset</key>
                <string>{-9,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,134},{469,217}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{469,217}}</string>
                <key>offset</key>
                <string>{-9,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,134},{469,217}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{469,217}}</string>
                <key>offset</key>
                <string>{-9,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,134},{469,217}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{469,217}}</string>
                <key>offset</key>
                <string>{-9,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,134},{469,217}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{469,217}}</string>
                <key>offset</key>
                <string>{-9,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,134},{469,217}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{469,217}}</string>
                <key>offset</key>
                <string>{-9,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,134},{469,217}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{469,217}}</string>
                <key>offset</key>
                <string>{-9,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,134},{469,217}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{469,217}}</string>
                <key>offset</key>
                <string>{-9,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,134},{469,217}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,221},{469,215}}</string>
                <key>offset</key>
                <string>{-9,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,136},{469,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,221},{469,215}}</string>
                <key>offset</key>
                <string>{-9,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,136},{469,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,440},{469,215}}</string>
                <key>offset</key>
                <string>{-9,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,136},{469,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,2},{471,215}}</string>
                <key>offset</key>
                <string>{-10,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,136},{471,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,659},{469,215}}</string>
                <key>offset</key>
                <string>{-9,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,136},{469,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,659},{469,215}}</string>
                <key>offset</key>
                <string>{-9,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,136},{469,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,653},{469,213}}</string>
                <key>offset</key>
                <string>{-9,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,138},{469,213}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,655},{469,213}}</string>
                <key>offset</key>
                <string>{-9,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,138},{469,213}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,655},{469,213}}</string>
                <key>offset</key>
                <string>{-9,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,138},{469,213}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,655},{469,213}}</string>
                <key>offset</key>
                <string>{-9,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,138},{469,213}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,655},{469,213}}</string>
                <key>offset</key>
                <string>{-9,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,138},{469,213}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,655},{469,213}}</string>
                <key>offset</key>
                <string>{-9,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,138},{469,213}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,653},{471,211}}</string>
                <key>offset</key>
                <string>{-8,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,140},{471,211}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>daiji_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,653},{471,211}}</string>
                <key>offset</key>
                <string>{-8,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,140},{471,211}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Dai_Ji.png</string>
            <key>size</key>
            <string>{2019,1126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19e32c41a0447b38a56c8ab31cffb263$</string>
            <key>textureFileName</key>
            <string>Dai_Ji.png</string>
        </dict>
    </dict>
</plist>
