<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/club/GUI/bgAgent.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{187,589}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,589}</string>
			</dict>
			<key>client/res/club/GUI/bgBall.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,595},{285,376}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,376}</string>
			</dict>
			<key>client/res/club/GUI/bgCicle.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,201},{219,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,219}</string>
			</dict>
			<key>client/res/club/GUI/bgHead.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,592},{88,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,91}</string>
			</dict>
			<key>client/res/club/GUI/bgItem.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,201},{115,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,101}</string>
			</dict>
			<key>client/res/club/GUI/bgLeader1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1226,106},{96,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,23}</string>
			</dict>
			<key>client/res/club/GUI/bgLeader2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,350},{52,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,50}</string>
			</dict>
			<key>client/res/club/GUI/bgLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{1236,201},{4,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,48}</string>
			</dict>
			<key>client/res/club/GUI/bgMember.png</key>
			<dict>
				<key>frame</key>
				<string>{{1518,2},{187,459}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,459}</string>
			</dict>
			<key>client/res/club/GUI/bgTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,133},{1049,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1049,64}</string>
			</dict>
			<key>client/res/club/GUI/bgVisitor.png</key>
			<dict>
				<key>frame</key>
				<string>{{1326,106},{187,337}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,337}</string>
			</dict>
			<key>client/res/club/GUI/bgYF1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,133},{74,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,68}</string>
			</dict>
			<key>client/res/club/GUI/bgYF2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1236,270},{79,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,72}</string>
			</dict>
			<key>client/res/club/GUI/btnAbrir.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,499},{248,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,74}</string>
			</dict>
			<key>client/res/club/GUI/btnAnuncio.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,201},{153,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,145}</string>
			</dict>
			<key>client/res/club/GUI/btnAnuncio2.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,438},{153,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,145}</string>
			</dict>
			<key>client/res/club/GUI/btnBlue.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,201},{242,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{242,96}</string>
			</dict>
			<key>client/res/club/GUI/btnClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,346},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>client/res/club/GUI/btnConfig.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,201},{153,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,145}</string>
			</dict>
			<key>client/res/club/GUI/btnConfig2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1316,447},{153,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,145}</string>
			</dict>
			<key>client/res/club/GUI/btnExpulsar.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,736},{170,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,67}</string>
			</dict>
			<key>client/res/club/GUI/btnFY.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,875},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>client/res/club/GUI/btnMember.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,577},{153,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,145}</string>
			</dict>
			<key>client/res/club/GUI/btnMember2.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,577},{153,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,145}</string>
			</dict>
			<key>client/res/club/GUI/btnMessenger.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,489},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>client/res/club/GUI/btnMessenger2.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,577},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>client/res/club/GUI/btnNo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,404},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>client/res/club/GUI/btnPink.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,301},{242,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{242,96}</string>
			</dict>
			<key>client/res/club/GUI/btnPrtoto.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,499},{248,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,74}</string>
			</dict>
			<key>client/res/club/GUI/btnRevisao.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,587},{153,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,145}</string>
			</dict>
			<key>client/res/club/GUI/btnRevisao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,687},{153,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,145}</string>
			</dict>
			<key>client/res/club/GUI/btnSair.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,726},{153,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,145}</string>
			</dict>
			<key>client/res/club/GUI/btnSair2.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,726},{153,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,145}</string>
			</dict>
			<key>client/res/club/GUI/btnTelegram.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,681},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>client/res/club/GUI/btnTelegram2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1094,593},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>client/res/club/GUI/btnWhatsApp.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,785},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>client/res/club/GUI/btnWhatsApp2.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,807},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>client/res/club/GUI/btnYes.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,498},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>client/res/club/GUI/club_guide_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,456},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>client/res/club/GUI/club_guide_fb.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,2},{314,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,100}</string>
			</dict>
			<key>client/res/club/GUI/club_guide_whatapp.png</key>
			<dict>
				<key>frame</key>
				<string>{{1201,2},{313,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{313,100}</string>
			</dict>
			<key>client/res/club/GUI/inputBg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1102,335},{100,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,150}</string>
			</dict>
			<key>client/res/club/GUI/inputBg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1244,205},{77,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,61}</string>
			</dict>
			<key>client/res/club/GUI/jlb_gb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1205,566},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>client/res/club/GUI/state_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,431},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>client/res/club/GUI/state_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,384},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>client/res/club/GUI/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,2},{686,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{686,127}</string>
			</dict>
			<key>client/res/club/GUI/word_anuncio.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,975},{196,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,40}</string>
			</dict>
			<key>client/res/club/GUI/word_apelido_do_clube.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,975},{235,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,28}</string>
			</dict>
			<key>client/res/club/GUI/word_cancelar.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,397},{157,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,34}</string>
			</dict>
			<key>client/res/club/GUI/word_claro.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,350},{88,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,30}</string>
			</dict>
			<key>client/res/club/GUI/word_entrar.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,587},{86,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,25}</string>
			</dict>
			<key>client/res/club/GUI/word_estado.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,807},{89,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,25}</string>
			</dict>
			<key>client/res/club/GUI/word_expulsar.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,350},{123,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,31}</string>
			</dict>
			<key>client/res/club/GUI/word_expulsar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,350},{152,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,43}</string>
			</dict>
			<key>client/res/club/GUI/word_hora_de_entrada.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,401},{213,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,26}</string>
			</dict>
			<key>client/res/club/GUI/word_id.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,435},{27,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,22}</string>
			</dict>
			<key>client/res/club/GUI/word_id_do_clube.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,106},{165,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,23}</string>
			</dict>
			<key>client/res/club/GUI/word_lider.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,477},{73,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,23}</string>
			</dict>
			<key>client/res/club/GUI/word_modify.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,401},{162,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,33}</string>
			</dict>
			<key>client/res/club/GUI/word_nome.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,616},{79,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,23}</string>
			</dict>
			<key>client/res/club/GUI/word_operar.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,306},{99,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,28}</string>
			</dict>
			<key>client/res/club/GUI/word_sem_novidades.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,447},{571,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{571,48}</string>
			</dict>
			<key>client/res/club/GUI/word_sob_revisao.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,106},{170,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,23}</string>
			</dict>
			<key>client/res/club/GUI/clip.png</key>
			<dict>
				<key>frame</key>
				<string>{{1102,201},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ClubPlist.png</string>
			<key>realTextureFileName</key>
			<string>ClubPlist.png</string>
			<key>size</key>
			<string>{1707,1017}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1707</integer>
			<key>height</key>
			<integer>1017</integer>
		</dict>
	</dict>
</plist>