<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/Lobby/GameIcon/Game27700.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/Game27900.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,1},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/Game28000.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,1},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/Game28100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1342,1},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/Game12000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,375},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/Game4300.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,822},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/Game4500.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1269},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/Game5000.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,375},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/Game5100.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,375},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/Game6300.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,375},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/Game8100.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,749},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/Game9100.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,1196},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/Game28300.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,1643},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/Game4200.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,749},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/Game4800.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,1196},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/Game5500.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,1643},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/Game5600.png</key>
			<dict>
				<key>frame</key>
				<string>{{1123,749},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/Game5800.png</key>
			<dict>
				<key>frame</key>
				<string>{{1123,1196},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/Game6500.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,1643},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/Game6600.png</key>
			<dict>
				<key>frame</key>
				<string>{{1497,749},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/Game7400.png</key>
			<dict>
				<key>frame</key>
				<string>{{1497,1123},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>GameIconPlist3.png</string>
			<key>realTextureFileName</key>
			<string>GameIconPlist3.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>