<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KaRui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3362,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3362,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3222,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3222,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3362,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3222,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3082,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3082,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3082,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2942,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2942,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2942,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2802,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2802,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2802,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2662,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2662,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2662,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2522,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2522,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2522,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2382,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2382,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2382,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2242,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2242,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2242,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2102,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2102,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2102,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>KaRui_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>QH_KARUI.png</string>
            <key>size</key>
            <string>{3502,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca0a5e056945615cddf59b7af693cc98$</string>
            <key>textureFileName</key>
            <string>QH_KARUI.png</string>
        </dict>
    </dict>
</plist>
