<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fish/012/buyu7-end_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,2},{127,76}}</string>
				<key>offset</key>
				<string>{-3,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,105}</string>
			</dict>
			<key>fish/012/buyu7-end_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,2},{113,71}}</string>
				<key>offset</key>
				<string>{7,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,105}</string>
			</dict>
			<key>fish/012/buyu7-idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{126,93}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,96}</string>
			</dict>
			<key>fish/012/buyu7-idle_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,73},{127,46}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,96}</string>
			</dict>
			<key>fish/012/buyu7-idle_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,2},{125,65}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,96}</string>
			</dict>
			<key>fish/012/buyu7-idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,2},{124,67}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,96}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>012.png</string>
			<key>realTextureFileName</key>
			<string>012.png</string>
			<key>size</key>
			<string>{635,121}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>635</integer>
			<key>height</key>
			<integer>121</integer>
		</dict>
	</dict>
</plist>