<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mllegend-+.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,614},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mllegend--.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,660},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mllegend-AUTO.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{172,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,58}}</string>
                <key>sourceSize</key>
                <string>{172,58}</string>
            </dict>
            <key>mllegend-Aposta.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,614},{114,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,36}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>mllegend-GIRAR.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,738},{110,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,30}}</string>
                <key>sourceSize</key>
                <string>{110,30}</string>
            </dict>
            <key>mllegend-Premio.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,730},{126,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,31}}</string>
                <key>sourceSize</key>
                <string>{126,31}</string>
            </dict>
            <key>mllegend-bk001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,70},{284,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,62}}</string>
                <key>sourceSize</key>
                <string>{284,62}</string>
            </dict>
            <key>mllegend-bk002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,356},{256,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,80}}</string>
                <key>sourceSize</key>
                <string>{256,80}</string>
            </dict>
            <key>mllegend-btn_quickY.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,706},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>mllegend-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1423},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>mllegend-downbk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{1334,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,160}}</string>
                <key>sourceSize</key>
                <string>{1334,160}</string>
            </dict>
            <key>mllegend-help.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mllegend-moedas.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,23}}</string>
                <key>sourceSize</key>
                <string>{178,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mllegend.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4096bccc6b9140be2faf52f61e38d57$</string>
            <key>textureFileName</key>
            <string>mllegend.png</string>
        </dict>
    </dict>
</plist>
