<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>egito-slot_guangxiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,2},{255,280}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{255,280}}</string>
                <key>sourceSize</key>
                <string>{281,280}</string>
            </dict>
            <key>egito-slot_guangxiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{277,276}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{277,276}}</string>
                <key>sourceSize</key>
                <string>{281,280}</string>
            </dict>
            <key>egito-slot_guangxiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{281,256}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{281,256}}</string>
                <key>sourceSize</key>
                <string>{281,280}</string>
            </dict>
            <key>egito-slot_guangxiao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,259},{277,278}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{277,278}}</string>
                <key>sourceSize</key>
                <string>{281,280}</string>
            </dict>
            <key>egito-slot_guangxiao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{255,280}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,280}}</string>
                <key>sourceSize</key>
                <string>{281,280}</string>
            </dict>
            <key>egito-slot_guangxiao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{277,278}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{277,278}}</string>
                <key>sourceSize</key>
                <string>{281,280}</string>
            </dict>
            <key>egito-slot_guangxiao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,539},{275,256}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{275,256}}</string>
                <key>sourceSize</key>
                <string>{281,280}</string>
            </dict>
            <key>egito-slot_guangxiao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,259},{277,278}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{277,278}}</string>
                <key>sourceSize</key>
                <string>{281,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamelight.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d66b9b284dcfd86d96862c432a292c21$</string>
            <key>textureFileName</key>
            <string>gamelight.png</string>
        </dict>
    </dict>
</plist>
