<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QHSHOW_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2338},{870,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{870,486}}</string>
                <key>sourceSize</key>
                <string>{874,486}</string>
            </dict>
            <key>QHSHOW_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1466},{870,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{870,486}}</string>
                <key>sourceSize</key>
                <string>{874,486}</string>
            </dict>
            <key>QHSHOW_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,3418},{870,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{870,486}}</string>
                <key>sourceSize</key>
                <string>{874,486}</string>
            </dict>
            <key>QHSHOW_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,2930},{870,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{870,486}}</string>
                <key>sourceSize</key>
                <string>{874,486}</string>
            </dict>
            <key>QHSHOW_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,2442},{870,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{870,486}}</string>
                <key>sourceSize</key>
                <string>{874,486}</string>
            </dict>
            <key>QHSHOW_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,1954},{870,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{870,486}}</string>
                <key>sourceSize</key>
                <string>{874,486}</string>
            </dict>
            <key>QHSHOW_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,1466},{870,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{870,486}}</string>
                <key>sourceSize</key>
                <string>{874,486}</string>
            </dict>
            <key>QHSHOW_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,3210},{870,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{870,486}}</string>
                <key>sourceSize</key>
                <string>{874,486}</string>
            </dict>
            <key>QHSHOW_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2338},{870,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{870,486}}</string>
                <key>sourceSize</key>
                <string>{874,486}</string>
            </dict>
            <key>QHSHOW_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1466},{870,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{870,486}}</string>
                <key>sourceSize</key>
                <string>{874,486}</string>
            </dict>
            <key>QHSHOW_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3210},{870,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{870,486}}</string>
                <key>sourceSize</key>
                <string>{874,486}</string>
            </dict>
            <key>QHSHOW_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2338},{870,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{870,486}}</string>
                <key>sourceSize</key>
                <string>{874,486}</string>
            </dict>
            <key>QHSHOW_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1466},{870,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{870,486}}</string>
                <key>sourceSize</key>
                <string>{874,486}</string>
            </dict>
            <key>QHSHOW_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,978},{870,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{870,486}}</string>
                <key>sourceSize</key>
                <string>{874,486}</string>
            </dict>
            <key>QHSHOW_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,978},{870,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{870,486}}</string>
                <key>sourceSize</key>
                <string>{874,486}</string>
            </dict>
            <key>QHSHOW_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{870,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{870,486}}</string>
                <key>sourceSize</key>
                <string>{874,486}</string>
            </dict>
            <key>QHSHOW_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,490},{870,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{870,486}}</string>
                <key>sourceSize</key>
                <string>{874,486}</string>
            </dict>
            <key>QHSHOW_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,490},{870,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{870,486}}</string>
                <key>sourceSize</key>
                <string>{874,486}</string>
            </dict>
            <key>QHSHOW_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{870,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{870,486}}</string>
                <key>sourceSize</key>
                <string>{874,486}</string>
            </dict>
            <key>QHSHOW_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,2},{870,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{870,486}}</string>
                <key>sourceSize</key>
                <string>{874,486}</string>
            </dict>
            <key>QHSHOW_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{870,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{870,486}}</string>
                <key>sourceSize</key>
                <string>{874,486}</string>
            </dict>
            <key>QHSHOW_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{870,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{870,486}}</string>
                <key>sourceSize</key>
                <string>{874,486}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SHOWBEGIN.png</string>
            <key>size</key>
            <string>{2618,3906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1d4fce5b7979a8dfcf64fe06d894011$</string>
            <key>textureFileName</key>
            <string>SHOWBEGIN.png</string>
        </dict>
    </dict>
</plist>
