<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>01.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,501},{122,201}}</string>
				<key>offset</key>
				<string>{5,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>02.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,881},{126,199}}</string>
				<key>offset</key>
				<string>{4,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>03.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,301},{124,198}}</string>
				<key>offset</key>
				<string>{1,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>04.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,1447},{122,189}}</string>
				<key>offset</key>
				<string>{-2,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>05.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,247},{139,173}}</string>
				<key>offset</key>
				<string>{-4,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>06.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1197},{133,178}}</string>
				<key>offset</key>
				<string>{-6,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>07.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,772},{122,187}}</string>
				<key>offset</key>
				<string>{-2,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>08.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,1447},{122,189}}</string>
				<key>offset</key>
				<string>{-2,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>09.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,1332},{113,205}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,1},{111,215}}</string>
				<key>offset</key>
				<string>{2,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,1933},{114,222}}</string>
				<key>offset</key>
				<string>{3,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,534},{109,227}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,1139},{119,224}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,650},{110,229}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,1811},{116,229}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,1811},{116,228}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1582},{118,228}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,1368},{117,228}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,1582},{118,227}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,123},{118,229}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,1139},{121,227}}</string>
				<key>offset</key>
				<string>{-9,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,421},{121,227}}</string>
				<key>offset</key>
				<string>{-9,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,1},{120,229}}</string>
				<key>offset</key>
				<string>{-7,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1812},{119,226}}</string>
				<key>offset</key>
				<string>{-7,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>25.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,1487},{119,222}}</string>
				<key>offset</key>
				<string>{-7,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>26.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,1711},{118,220}}</string>
				<key>offset</key>
				<string>{-6,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>27.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,1487},{119,217}}</string>
				<key>offset</key>
				<string>{-7,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>28.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,1365},{120,211}}</string>
				<key>offset</key>
				<string>{-8,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>29.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,1638},{121,190}}</string>
				<key>offset</key>
				<string>{6,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>30.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,1830},{121,190}}</string>
				<key>offset</key>
				<string>{6,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>31.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,1141},{118,176}}</string>
				<key>offset</key>
				<string>{9,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>32.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,231},{150,188}}</string>
				<key>offset</key>
				<string>{1,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>33.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1368},{144,212}}</string>
				<key>offset</key>
				<string>{-6,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>34.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,454},{127,226}}</string>
				<key>offset</key>
				<string>{-10,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>35.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,682},{133,225}}</string>
				<key>offset</key>
				<string>{-12,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>36.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,911},{137,228}}</string>
				<key>offset</key>
				<string>{-11,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,454},{143,226}}</string>
				<key>offset</key>
				<string>{-8,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1141},{137,225}}</string>
				<key>offset</key>
				<string>{-11,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>39.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,911},{134,226}}</string>
				<key>offset</key>
				<string>{-12,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>40.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,682},{138,227}}</string>
				<key>offset</key>
				<string>{-10,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>41.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,1},{142,228}}</string>
				<key>offset</key>
				<string>{-8,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>42.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{155,229}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>43.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,232},{159,220}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>44.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,114},{131,186}}</string>
				<key>offset</key>
				<string>{1,-21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>45.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,961},{120,178}}</string>
				<key>offset</key>
				<string>{4,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>46.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,114},{141,174}}</string>
				<key>offset</key>
				<string>{3,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>47.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,1},{139,172}}</string>
				<key>offset</key>
				<string>{0,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>48.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1023},{139,172}}</string>
				<key>offset</key>
				<string>{0,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>49.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,123},{141,176}}</string>
				<key>offset</key>
				<string>{1,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>50.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,843},{140,178}}</string>
				<key>offset</key>
				<string>{1,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>51.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,1082},{130,192}}</string>
				<key>offset</key>
				<string>{6,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>52.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,650},{131,191}}</string>
				<key>offset</key>
				<string>{4,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>53.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,1487},{134,190}}</string>
				<key>offset</key>
				<string>{3,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>54.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,354},{140,178}}</string>
				<key>offset</key>
				<string>{1,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>55.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,1706},{131,196}}</string>
				<key>offset</key>
				<string>{7,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>56.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,1904},{131,196}}</string>
				<key>offset</key>
				<string>{7,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>57.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,1679},{134,190}}</string>
				<key>offset</key>
				<string>{3,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>58.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,290},{127,193}}</string>
				<key>offset</key>
				<string>{5,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
			<key>59.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,645},{125,199}}</string>
				<key>offset</key>
				<string>{4,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,229}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>renwu.png</string>
			<key>realTextureFileName</key>
			<string>renwu.png</string>
			<key>size</key>
			<string>{1048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>