<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>li_an_la_bian (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,264}}</string>
                <key>offset</key>
                <string>{-23,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,278},{118,264}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{206,232}}</string>
                <key>offset</key>
                <string>{5,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,313},{206,232}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,2},{206,228}}</string>
                <key>offset</key>
                <string>{5,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,317},{206,228}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,2},{206,228}}</string>
                <key>offset</key>
                <string>{5,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,317},{206,228}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,234},{206,230}}</string>
                <key>offset</key>
                <string>{5,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,315},{206,230}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,2},{206,230}}</string>
                <key>offset</key>
                <string>{5,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,315},{206,230}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{582,236},{202,208}}</string>
                <key>offset</key>
                <string>{7,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,334},{202,208}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{360,244},{192,220}}</string>
                <key>offset</key>
                <string>{17,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,327},{192,220}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{158,172}}</string>
                <key>offset</key>
                <string>{-1,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,370},{158,172}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,236},{154,154}}</string>
                <key>offset</key>
                <string>{-9,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,388},{154,154}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{792,236},{160,232}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,310},{160,232}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{128,240}}</string>
                <key>offset</key>
                <string>{-22,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,305},{128,240}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{168,234}}</string>
                <key>offset</key>
                <string>{-22,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,308},{168,234}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{162,254},{182,196}}</string>
                <key>offset</key>
                <string>{-23,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,342},{182,196}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,2},{224,212}}</string>
                <key>offset</key>
                <string>{-2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,333},{224,212}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,232},{224,208}}</string>
                <key>offset</key>
                <string>{-2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,337},{224,208}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,2},{224,212}}</string>
                <key>offset</key>
                <string>{-2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,333},{224,212}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (25).png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,232},{224,208}}</string>
                <key>offset</key>
                <string>{-2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,337},{224,208}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (26).png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,2},{224,212}}</string>
                <key>offset</key>
                <string>{-2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,333},{224,212}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (27).png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,232},{224,208}}</string>
                <key>offset</key>
                <string>{-2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,337},{224,208}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (28).png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,2},{224,212}}</string>
                <key>offset</key>
                <string>{-2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,333},{224,212}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (29).png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,232},{224,208}}</string>
                <key>offset</key>
                <string>{-2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,337},{224,208}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{144,250}}</string>
                <key>offset</key>
                <string>{-42,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,292},{144,250}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (30).png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,232},{224,208}}</string>
                <key>offset</key>
                <string>{-2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,337},{224,208}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (31).png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,2},{206,228}}</string>
                <key>offset</key>
                <string>{5,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,317},{206,228}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (32).png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{206,232}}</string>
                <key>offset</key>
                <string>{5,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,313},{206,232}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (33).png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{206,232}}</string>
                <key>offset</key>
                <string>{5,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,313},{206,232}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,2},{206,228}}</string>
                <key>offset</key>
                <string>{5,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,317},{206,228}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{206,232}}</string>
                <key>offset</key>
                <string>{5,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,313},{206,232}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,2},{206,228}}</string>
                <key>offset</key>
                <string>{5,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,317},{206,228}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,234},{206,230}}</string>
                <key>offset</key>
                <string>{5,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,315},{206,230}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,2},{206,230}}</string>
                <key>offset</key>
                <string>{5,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,315},{206,230}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
            <key>li_an_la_bian (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{206,232}}</string>
                <key>offset</key>
                <string>{5,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,313},{206,232}}</string>
                <key>sourceSize</key>
                <string>{242,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XT_1140_2.png</string>
            <key>size</key>
            <string>{2030,442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b5516668876f6ee4309da0535a6d0cc$</string>
            <key>textureFileName</key>
            <string>XT_1140_2.png</string>
        </dict>
    </dict>
</plist>
