<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XT-1166 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{186,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,131}}</string>
                <key>sourceSize</key>
                <string>{186,131}</string>
            </dict>
            <key>XT-1166 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,145}}</string>
                <key>sourceSize</key>
                <string>{152,145}</string>
            </dict>
            <key>XT-1166 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{344,96},{80,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,46}}</string>
                <key>sourceSize</key>
                <string>{80,46}</string>
            </dict>
            <key>XT-1166 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{99,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,92}}</string>
                <key>sourceSize</key>
                <string>{99,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XT_1166.png</string>
            <key>size</key>
            <string>{445,149}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2326b68db5de728e9257e1fabd91759c$</string>
            <key>textureFileName</key>
            <string>XT_1166.png</string>
        </dict>
    </dict>
</plist>
