<?xml version="1.0"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>huanle30s_4dian.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,760},{63,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{63,41}</string>
      </dict>
      <key>huanle30s_8dian.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,760},{62,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{62,41}</string>
      </dict>
      <key>huanle30s_duizi.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,715},{66,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{66,40}</string>
      </dict>
      <key>huanle30s_kaipai_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{350,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{350,100}</string>
      </dict>
      <key>huanle30s_kaipai_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,1},{350,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{350,100}</string>
      </dict>
      <key>huanle30s_kaipai_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,103},{350,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{350,100}</string>
      </dict>
      <key>huanle30s_kaipai_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,103},{350,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{350,100}</string>
      </dict>
      <key>huanle30s_kaipai_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,205},{350,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{350,100}</string>
      </dict>
      <key>huanle30s_kaipai_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,205},{350,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{350,100}</string>
      </dict>
      <key>huanle30s_kaipai_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,307},{350,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{350,100}</string>
      </dict>
      <key>huanle30s_kaipai_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,307},{350,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{350,100}</string>
      </dict>
      <key>huanle30s_kaipai_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,409},{350,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{350,100}</string>
      </dict>
      <key>huanle30s_kaipai_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,409},{350,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{350,100}</string>
      </dict>
      <key>huanle30s_kaipai_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,511},{350,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{350,100}</string>
      </dict>
      <key>huanle30s_kaipai_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,511},{350,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{350,100}</string>
      </dict>
      <key>huanle30s_kaipai_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,613},{350,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{350,100}</string>
      </dict>
      <key>huanle30s_kaipai_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,613},{350,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{350,100}</string>
      </dict>
      <key>huanle30s_kaipai_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,715},{350,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{350,100}</string>
      </dict>
      <key>huanle30s_kaipaidi.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,715},{172,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{172,43}</string>
      </dict>
      <key>huanle30s_ping.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,760},{40,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{40,43}</string>
      </dict>
      <key>huanle30s_tianwang.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,757},{66,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{66,40}</string>
      </dict>
      <key>huanle30s_tongdianping.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,715},{99,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{99,43}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>huanle30s_kaipai.png</string>
      <key>realTextureFileName</key>
      <string>huanle30s_kaipai.png</string>
      <key>size</key>
      <string>{704,816}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>704</integer>
      <key>height</key>
      <integer>816</integer>
    </dict>
  </dict>
</plist>
