<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/Lobby/GameIcon/dating_jiaobiao_novo_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,351},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/dating_jiaobiao_quente_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,351},{138,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,102}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/dating_renshudi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1684,2},{175,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,45}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/dating_renshutubiao_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,351},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/GamePlinko.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,2},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/dating_guanggaokuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{780,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{780,345}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/Game23600.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,351},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/GameCrash.png</key>
			<dict>
				<key>frame</key>
				<string>{{1235,2},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/GameJXLW.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,378},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/GameLPD.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,727},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/GameBXNW.png</key>
			<dict>
				<key>frame</key>
				<string>{{1230,378},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/GameDNTG.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1103},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/GameJNH.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1479},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/GameTruco.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,754},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/GameCSD.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,1130},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/GameBicho.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,1506},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/Game6100.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,754},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/GameBJL.png</key>
			<dict>
				<key>frame</key>
				<string>{{1349,754},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/GameBLCS.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,1130},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/GameLKPY.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,1506},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/GameEgito.png</key>
			<dict>
				<key>frame</key>
				<string>{{1349,1130},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/dating_xiazai_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,457},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/GameTMFK.png</key>
			<dict>
				<key>frame</key>
				<string>{{1349,1506},{445,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,372}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/dating_guanggao_dian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1884,34},{20,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,21}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/dating_guanggao_dian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,351},{26,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,27}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/dating_renshushuzi_0_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,457},{17,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,28}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/dating_renshushuzi_1_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1863,2},{17,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,28}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/dating_renshushuzi_2_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1884,2},{17,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,28}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/dating_renshushuzi_3_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1905,2},{17,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,28}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/dating_renshushuzi_4_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1926,2},{17,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,28}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/dating_renshushuzi_5_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1947,2},{17,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,28}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/dating_renshushuzi_6_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1968,2},{17,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,28}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/dating_renshushuzi_7_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1989,2},{17,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,28}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/dating_renshushuzi_8_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2010,2},{17,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,28}</string>
			</dict>
			<key>client/res/Lobby/GameIcon/dating_renshushuzi_9_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1863,34},{17,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,28}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>GameIconPlist.png</string>
			<key>realTextureFileName</key>
			<string>GameIconPlist.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>