<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goldboom_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{769,1465},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldboom_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-11}</string>
                <key>spriteSize</key>
                <string>{376,382}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{815,1087},{376,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldboom_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-6}</string>
                <key>spriteSize</key>
                <string>{324,416}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{435,1},{324,416}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldboom_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{272,404}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,765},{272,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldboom_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-31}</string>
                <key>spriteSize</key>
                <string>{286,352}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{853,1},{286,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldboom_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-35}</string>
                <key>spriteSize</key>
                <string>{262,368}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{403,1093},{262,368}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldboom_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-39}</string>
                <key>spriteSize</key>
                <string>{264,364}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{403,1357},{264,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldboom_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-44}</string>
                <key>spriteSize</key>
                <string>{276,326}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{333,1623},{276,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldboom_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-39}</string>
                <key>spriteSize</key>
                <string>{262,336}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{927,1465},{262,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldboom_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{264,274}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{661,1623},{264,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldboom_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,59}</string>
                <key>spriteSize</key>
                <string>{184,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1419},{184,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldboom_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{330,280}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1623},{330,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldboom_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,60}</string>
                <key>spriteSize</key>
                <string>{178,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{157,1419},{178,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldboom_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-40}</string>
                <key>spriteSize</key>
                <string>{404,388}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{409,703},{404,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldboom_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-23}</string>
                <key>spriteSize</key>
                <string>{412,374}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{435,327},{412,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldboom_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-31}</string>
                <key>spriteSize</key>
                <string>{406,398}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,365},{406,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldboom_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-25}</string>
                <key>spriteSize</key>
                <string>{356,408}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{849,677},{356,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldboom_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-19}</string>
                <key>spriteSize</key>
                <string>{400,378}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1039},{400,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldboom_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-24}</string>
                <key>spriteSize</key>
                <string>{362,432}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{362,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldboom_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,11}</string>
                <key>spriteSize</key>
                <string>{346,386}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{853,289},{346,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gold_boom.png</string>
            <key>size</key>
            <string>{1206,1904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:268b6e47729da6c9205b861aeb6d36ab:fad38433ea84eeaac9290acf5be3e084:5b758aac7d6bb3d318449ce3f4796713$</string>
            <key>textureFileName</key>
            <string>gold_boom.png</string>
        </dict>
    </dict>
</plist>
