<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>watermargin-+.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,193},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>watermargin--.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>watermargin-Aposta.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{114,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,36}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>watermargin-Premio.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,193},{126,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,30}}</string>
                <key>sourceSize</key>
                <string>{126,30}</string>
            </dict>
            <key>watermargin-auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{170,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,68}}</string>
                <key>sourceSize</key>
                <string>{170,68}</string>
            </dict>
            <key>watermargin-bk001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,93}}</string>
                <key>sourceSize</key>
                <string>{304,93}</string>
            </dict>
            <key>watermargin-bk002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{292,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,94}}</string>
                <key>sourceSize</key>
                <string>{292,94}</string>
            </dict>
            <key>watermargin-btn_quickY.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,193},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>watermargin-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{188,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,90}}</string>
                <key>sourceSize</key>
                <string>{188,90}</string>
            </dict>
            <key>watermargin-girar.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,188},{187,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,92}}</string>
                <key>sourceSize</key>
                <string>{187,92}</string>
            </dict>
            <key>watermargin-pare.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,94},{187,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,92}}</string>
                <key>sourceSize</key>
                <string>{187,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>watermargin.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fae76c899b83399d102aab67fa840a74$</string>
            <key>textureFileName</key>
            <string>watermargin.png</string>
        </dict>
    </dict>
</plist>
