<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,688},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,590},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card10.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,590},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card11.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,590},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card15.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,492},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card16.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,492},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card18.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,394},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card19.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,394},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card20.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,296},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card21.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,296},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card23.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,198},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card24.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,198},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,100},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,100},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card7.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card8.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
            <key>card9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,136}}</string>
                <key>sourceSize</key>
                <string>{96,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a4c10f11478a8860c6020b952e07126$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
