<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chang_jin (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{494,296},{145,42}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,183},{145,42}}</string>
                <key>sourceSize</key>
                <string>{145,416}</string>
            </dict>
            <key>chang_jin (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,416}}</string>
                <key>sourceSize</key>
                <string>{145,416}</string>
            </dict>
            <key>chang_jin (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{145,86}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,161},{145,86}}</string>
                <key>sourceSize</key>
                <string>{145,416}</string>
            </dict>
            <key>chang_jin (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{149,380},{145,126}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,142},{145,126}}</string>
                <key>sourceSize</key>
                <string>{145,416}</string>
            </dict>
            <key>chang_jin (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{296,338},{145,168}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,121},{145,168}}</string>
                <key>sourceSize</key>
                <string>{145,416}</string>
            </dict>
            <key>chang_jin (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{145,210}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,100},{145,210}}</string>
                <key>sourceSize</key>
                <string>{145,416}</string>
            </dict>
            <key>chang_jin (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{145,252}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,80},{145,252}}</string>
                <key>sourceSize</key>
                <string>{145,416}</string>
            </dict>
            <key>chang_jin (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{145,292}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,61},{145,292}}</string>
                <key>sourceSize</key>
                <string>{145,416}</string>
            </dict>
            <key>chang_jin (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{145,334}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{145,334}}</string>
                <key>sourceSize</key>
                <string>{145,416}</string>
            </dict>
            <key>chang_jin (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{145,376}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{145,376}}</string>
                <key>sourceSize</key>
                <string>{145,416}</string>
            </dict>
            <key>dian_ (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{443,478},{29,42}}</string>
                <key>offset</key>
                <string>{-5,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{29,42}}</string>
                <key>sourceSize</key>
                <string>{101,300}</string>
            </dict>
            <key>dian_ (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{737,214},{39,92}}</string>
                <key>offset</key>
                <string>{0,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{39,92}}</string>
                <key>sourceSize</key>
                <string>{101,300}</string>
            </dict>
            <key>dian_ (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{840,214},{47,132}}</string>
                <key>offset</key>
                <string>{-2,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,132}}</string>
                <key>sourceSize</key>
                <string>{101,300}</string>
            </dict>
            <key>dian_ (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{443,296},{49,180}}</string>
                <key>offset</key>
                <string>{-2,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{49,180}}</string>
                <key>sourceSize</key>
                <string>{101,300}</string>
            </dict>
            <key>dian_ (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{590,256},{49,224}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{49,224}}</string>
                <key>sourceSize</key>
                <string>{101,300}</string>
            </dict>
            <key>dian_ (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{538,441},{51,268}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{51,268}}</string>
                <key>sourceSize</key>
                <string>{101,300}</string>
            </dict>
            <key>dian_ (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{538,307},{79,300}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{79,300}}</string>
                <key>sourceSize</key>
                <string>{101,300}</string>
            </dict>
            <key>dian_ (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{538,388},{51,300}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{51,300}}</string>
                <key>sourceSize</key>
                <string>{101,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XT_1150_3.png</string>
            <key>size</key>
            <string>{889,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84e92fd14667e56e5495802a07d66f63$</string>
            <key>textureFileName</key>
            <string>XT_1150_3.png</string>
        </dict>
    </dict>
</plist>
