<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/ShareTurnTable/0x.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1738},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>client/res/ShareTurnTable/1x.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,906},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>client/res/ShareTurnTable/2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,955},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>client/res/ShareTurnTable/3x.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1004},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>client/res/ShareTurnTable/4x.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1053},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>client/res/ShareTurnTable/5x.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1102},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>client/res/ShareTurnTable/6x.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1151},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>client/res/ShareTurnTable/7x.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1200},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>client/res/ShareTurnTable/8x.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,1273},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>client/res/ShareTurnTable/9x.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,1302},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>client/res/ShareTurnTable/back2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1741,257},{130,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,150}</string>
			</dict>
			<key>client/res/ShareTurnTable/button012x.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,911},{362,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{362,113}</string>
			</dict>
			<key>client/res/ShareTurnTable/circle_zhizheng2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1550},{184,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,168}</string>
			</dict>
			<key>client/res/ShareTurnTable/howBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,575},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>client/res/ShareTurnTable/linvkply2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,773},{76,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,40}</string>
			</dict>
			<key>client/res/ShareTurnTable/lishijilv2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,677},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>client/res/ShareTurnTable/lucky_bk2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,1866},{562,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{562,74}</string>
			</dict>
			<key>client/res/ShareTurnTable/right2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,1616},{70,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,52}</string>
			</dict>
			<key>client/res/ShareTurnTable/spin_font2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1738},{76,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,30}</string>
			</dict>
			<key>client/res/ShareTurnTable/spin2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,1355},{291,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,154}</string>
			</dict>
			<key>client/res/ShareTurnTable/wrong2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,1550},{62,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,60}</string>
			</dict>
			<key>client/res/ShareTurnTable/x2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1185},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>client/res/ShareTurnTable/registrodeinvitac.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,313},{1008,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1008,78}</string>
			</dict>
			<key>client/res/ShareTurnTable/cicle_SPINE.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,313},{382,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,231}</string>
			</dict>
			<key>client/res/ShareTurnTable/button2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,1775},{302,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,113}</string>
			</dict>
			<key>client/res/ShareTurnTable/money.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,575},{201,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,129}</string>
			</dict>
			<key>client/res/ShareTurnTable/lucklefe.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1552},{182,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,221}</string>
			</dict>
			<key>client/res/ShareTurnTable/button22x.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,575},{332,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{332,132}</string>
			</dict>
			<key>client/res/ShareTurnTable/button.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,819},{362,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{362,113}</string>
			</dict>
			<key>client/res/ShareTurnTable/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,2},{1506,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1506,81}</string>
			</dict>
			<key>client/res/ShareTurnTable/tc_bk.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1950},{741,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{741,77}</string>
			</dict>
			<key>client/res/ShareTurnTable/Regras_de_desbloqueio.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,1974},{563,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{563,42}</string>
			</dict>
			<key>client/res/ShareTurnTable/button001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1473,1847},{221,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,91}</string>
			</dict>
			<key>client/res/ShareTurnTable/showVip.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1277},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>client/res/ShareTurnTable/button_certo.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1185},{362,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,113}</string>
			</dict>
			<key>client/res/ShareTurnTable/button_xiala.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,1690},{49,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,42}</string>
			</dict>
			<key>client/res/ShareTurnTable/kuang_seclt.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1481},{224,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,67}</string>
			</dict>
			<key>client/res/ShareTurnTable/money2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1098,1512},{274,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{274,242}</string>
			</dict>
			<key>client/res/ShareTurnTable/selctbk01.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,708},{203,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,107}</string>
			</dict>
			<key>client/res/ShareTurnTable/selctbk02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1741,2},{203,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,107}</string>
			</dict>
			<key>client/res/ShareTurnTable/xltsi.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,1277},{71,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,69}</string>
			</dict>
			<key>client/res/ShareTurnTable/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1093,313},{1247,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1247,1}</string>
			</dict>
			<key>client/res/ShareTurnTable/loading001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,836},{515,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{515,19}</string>
			</dict>
			<key>client/res/ShareTurnTable/loading002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,313},{519,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{519,23}</string>
			</dict>
			<key>client/res/ShareTurnTable/button01.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,1564},{298,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,163}</string>
			</dict>
			<key>client/res/ShareTurnTable/Tudodentro.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,1481},{154,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,65}</string>
			</dict>
			<key>client/res/ShareTurnTable/box_bk.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,1550},{221,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{221,277}</string>
			</dict>
			<key>client/res/ShareTurnTable/button_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,575},{353,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{353,129}</string>
			</dict>
			<key>client/res/ShareTurnTable/button02.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,932},{353,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{353,129}</string>
			</dict>
			<key>client/res/ShareTurnTable/bt_box01.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,1481},{205,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,65}</string>
			</dict>
			<key>client/res/ShareTurnTable/bt_box02.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,1481},{188,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,65}</string>
			</dict>
			<key>client/res/ShareTurnTable/icon_pep03.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,1892},{37,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,30}</string>
			</dict>
			<key>client/res/ShareTurnTable/icon_pep01.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,1738},{37,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,30}</string>
			</dict>
			<key>client/res/ShareTurnTable/icon_pep02.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,1738},{37,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,30}</string>
			</dict>
			<key>client/res/ShareTurnTable/line01.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,1513},{145,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,33}</string>
			</dict>
			<key>client/res/ShareTurnTable/line02.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,1513},{145,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,33}</string>
			</dict>
			<key>client/res/ShareTurnTable/line03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1738},{145,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,33}</string>
			</dict>
			<key>client/res/ShareTurnTable/lybel.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,819},{161,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,83}</string>
			</dict>
			<key>client/res/ShareTurnTable/box01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1507,2},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>client/res/ShareTurnTable/box02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1344,2},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>client/res/ShareTurnTable/box03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1196,2},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>client/res/ShareTurnTable/box04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1741,113},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>client/res/ShareTurnTable/box05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1885,113},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>client/res/ShareTurnTable/box06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1507,146},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>client/res/ShareTurnTable/box07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1344,146},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>client/res/ShareTurnTable/box08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1196,146},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>client/res/ShareTurnTable/bt_font0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,548},{394,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{394,122}</string>
			</dict>
			<key>client/res/ShareTurnTable/bt_font0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1355},{394,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{394,122}</string>
			</dict>
			<key>client/res/ShareTurnTable/bt_font0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,1355},{394,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{394,122}</string>
			</dict>
			<key>client/res/ShareTurnTable/bt_font001.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,548},{394,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{394,122}</string>
			</dict>
			<key>client/res/ShareTurnTable/bt_font002.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,548},{394,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{394,122}</string>
			</dict>
			<key>client/res/ShareTurnTable/bt_font003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,946},{394,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{394,122}</string>
			</dict>
			<key>client/res/ShareTurnTable/peopel001.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1289},{82,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,61}</string>
			</dict>
			<key>client/res/ShareTurnTable/peopel01.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,1289},{82,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,61}</string>
			</dict>
			<key>client/res/ShareTurnTable/Podeserresgatado.png</key>
			<dict>
				<key>frame</key>
				<string>{{1314,1944},{423,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{423,73}</string>
			</dict>
			<key>client/res/ShareTurnTable/Prmioobtido.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,1790},{429,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{429,53}</string>
			</dict>
			<key>client/res/ShareTurnTable/lin001.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,1892},{145,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,33}</string>
			</dict>
			<key>client/res/ShareTurnTable/line002.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,1892},{145,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,33}</string>
			</dict>
			<key>client/res/ShareTurnTable/peopel3.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,1738},{37,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,30}</string>
			</dict>
			<key>client/res/ShareTurnTable/bt_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1790},{406,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{406,156}</string>
			</dict>
			<key>client/res/ShareTurnTable/bt_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,1564},{406,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{406,156}</string>
			</dict>
			<key>client/res/ShareTurnTable/tipsLayerGUI/button _con.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,946},{338,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,107}</string>
			</dict>
			<key>client/res/ShareTurnTable/tipsLayerGUI/button_enter.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,1057},{338,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,107}</string>
			</dict>
			<key>client/res/ShareTurnTable/tipsLayerGUI/font_banner.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,2},{509,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{509,307}</string>
			</dict>
			<key>client/res/ShareTurnTable/tipsLayerGUI/intrduce.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{592,569}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{592,569}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ShareTurnTableGUI.png</string>
			<key>realTextureFileName</key>
			<string>ShareTurnTableGUI.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>