<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/Truntable/GUI/vip0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,475},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1580,440},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1580,482},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1438,505},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1299,517},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1698,482},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1556,524},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,547},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1299,559},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1674,524},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1535,566},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,589},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1299,601},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1653,566},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,586},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,586},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/zhuanpan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,361},{173,441}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,441}</string>
			</dict>
			<key>client/res/Truntable/GUI/zhuanpan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,361},{173,441}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,441}</string>
			</dict>
			<key>client/res/Truntable/GUI/zhuanpan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,352},{173,441}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,441}</string>
			</dict>
			<key>client/res/Truntable/GUI/zhuanpan5.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,352},{173,441}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,441}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1309,2},{533,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{533,65}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_gb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1754,374},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jdt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,989},{576,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{576,17}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jdt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,989},{576,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{576,17}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jllb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,185},{429,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{429,130}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jllb1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,185},{429,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{429,130}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jllb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,349},{429,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{429,130}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jllb2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1191,185},{429,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{429,130}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_mr1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,806},{324,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,179}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_mr1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,806},{324,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,179}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_mr2.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,2},{324,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,179}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_mr2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,2},{324,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,179}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_mr3.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,2},{324,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,179}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_mr3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,797},{324,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,179}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_wh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,139},{67,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,79}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_wz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,319},{333,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{333,29}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_wz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1846,38},{197,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,23}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_wz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1535,650},{156,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,23}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_wz4.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,319},{323,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,26}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_wz5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1309,145},{282,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,27}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_wz6.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,319},{276,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,26}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xtb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1828,222},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jiasu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1907,65},{127,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,127}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_sm1.png</key>
			<dict>
				<key>frame</key>
				<string>{{16,1010},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_sm2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1828,289},{46,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,42}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_sm3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1754,328},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_zh1.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,349},{173,441}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,441}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_zz6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1754,180},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_dj2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1901,196},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_dj3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1624,180},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_dj4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1624,310},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_dj5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1878,326},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_dj6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1862,456},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_dj7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,345},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_dj8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,375},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1535,608},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,631},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1653,608},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,643},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/vip20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,628},{114,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jc1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,757},{400,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,54}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_wz7.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,599},{229,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,23}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_wz8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,319},{269,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,22}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,319},{37,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,38}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1402,677},{338,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,76}</string>
			</dict>
			<key>client/res/Truntable/GUI/mrrw_jb_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1162,483},{133,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,116}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_jbjh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1754,254},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_benyuedenglu.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,564},{210,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,31}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_benzhoudenglu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1595,145},{231,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,31}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_biaoti_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,700},{374,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{374,71}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_biaoti_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1309,71},{424,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{424,70}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_biaoti_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,626},{393,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{393,70}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_canyuanniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,483},{241,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,77}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_chongzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,628},{130,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,31}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_dikuang_9s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{319,355}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{319,355}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_duzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,663},{126,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,31}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_haicha.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,345},{84,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,26}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_meiridenglu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1846,2},{192,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,32}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_mengban_9s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1010},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>client/res/Truntable/GUI/zp_xq_yihuode.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,71},{166,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,64}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>TruntablePlist.png</string>
			<key>realTextureFileName</key>
			<string>TruntablePlist.png</string>
			<key>size</key>
			<string>{2045,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2045</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>