<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/Gift/GUI/btn_off_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1654,1569},{298,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,141}</string>
			</dict>
			<key>client/res/Gift/GUI/btn_off_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1806,1},{294,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,141}</string>
			</dict>
			<key>client/res/Gift/GUI/btn_off_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1806,297},{294,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,141}</string>
			</dict>
			<key>client/res/Gift/GUI/btn_on_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1663,1},{298,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,141}</string>
			</dict>
			<key>client/res/Gift/GUI/btn_on_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1663,301},{294,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,141}</string>
			</dict>
			<key>client/res/Gift/GUI/btn_on_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1806,593},{294,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,141}</string>
			</dict>
			<key>client/res/Gift/GUI/commonClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1880,1863},{155,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,172}</string>
			</dict>
			<key>client/res/Gift/GUI/commonLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,1863},{578,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{578,134}</string>
			</dict>
			<key>client/res/Gift/GUI/commonLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,1056},{157,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,3}</string>
			</dict>
			<key>client/res/Gift/GUI/commonMoney.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,1129},{49,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,38}</string>
			</dict>
			<key>client/res/Gift/GUI/commonTitleBg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,1},{1415,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1415,249}</string>
			</dict>
			<key>client/res/Gift/GUI/commonTitleBg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1727},{1194,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1194,200}</string>
			</dict>
			<key>client/res/Gift/GUI/itemBg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,904},{387,562}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{387,562}</string>
			</dict>
			<key>client/res/Gift/GUI/itemBg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1293},{387,562}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{387,562}</string>
			</dict>
			<key>client/res/Gift/GUI/itemBg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,1},{387,562}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{387,562}</string>
			</dict>
			<key>client/res/Gift/GUI/lb_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,536},{518,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{518,31}</string>
			</dict>
			<key>client/res/Gift/GUI/lb_word_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,536},{1189,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1189,49}</string>
			</dict>
			<key>client/res/Gift/GUI/right_cd_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1731,1232},{147,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,289}</string>
			</dict>
			<key>client/res/Gift/GUI/right_cd_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1731,1381},{147,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,289}</string>
			</dict>
			<key>client/res/Gift/GUI/right_cd_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,904},{147,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,289}</string>
			</dict>
			<key>client/res/Gift/GUI/saleBg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1463,390},{114,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,110}</string>
			</dict>
			<key>client/res/Gift/GUI/saleBg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1239,390},{115,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,110}</string>
			</dict>
			<key>client/res/Gift/GUI/saleBg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1488,889},{114,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,110}</string>
			</dict>
			<key>client/res/Gift/GUI/state_have.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1486},{138,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,146}</string>
			</dict>
			<key>client/res/Gift/GUI/state_null.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,390},{138,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,146}</string>
			</dict>
			<key>client/res/Gift/GUI/title_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,1418},{885,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{885,149}</string>
			</dict>
			<key>client/res/Gift/GUI/title_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,1569},{865,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{865,146}</string>
			</dict>
			<key>client/res/Gift/GUI/title_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1197,1717},{761,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{761,144}</string>
			</dict>
			<key>client/res/Gift/GUI/itemBg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,597},{387,562}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{387,562}</string>
			</dict>
			<key>client/res/Gift/GUI/right_cd_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1195},{147,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,289}</string>
			</dict>
			<key>client/res/Gift/GUI/saleBg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1351,390},{115,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,110}</string>
			</dict>
			<key>client/res/Gift/GUI/timeStampBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,1215},{214,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,55}</string>
			</dict>
			<key>client/res/Gift/GUI/title_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1929},{935,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{935,111}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_fl13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,536},{366,733}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{366,733}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_fl9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,1},{215,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,78}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_blue1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,440},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_blue2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,512},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_blue3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,584},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_blue4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,656},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_blue5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,728},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_blue6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,800},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_blue7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,872},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_day1.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,1050},{77,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,24}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_day2.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,710},{84,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,24}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_day3.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,881},{82,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,24}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_day4.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,536},{85,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,24}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_day5.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,796},{83,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,24}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_day6.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,623},{85,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,24}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_day7.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,965},{83,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,23}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_fl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1108,1929},{190,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,102}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_fl15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,944},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_fl16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,1016},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_fl17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,292},{73,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,72}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_fl18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,1088},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_fl19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,1160},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_fl20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,218},{78,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,72}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_fl21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,366},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_ts2.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,1929},{168,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,118}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_ts3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1488,502},{103,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,114}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_ts5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{845,533}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{845,533}</string>
			</dict>
			<key>client/res/Gift/GUI/libao_ts1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1197,1863},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>GiftPlist.png</string>
			<key>realTextureFileName</key>
			<string>GiftPlist.png</string>
			<key>size</key>
			<string>{2036,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2036</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>