<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{571,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,332}}</string>
                <key>sourceSize</key>
                <string>{571,332}</string>
            </dict>
            <key>close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,202},{128,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,58}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>close_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,72},{136,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{136,68}}</string>
                <key>sourceSize</key>
                <string>{136,70}</string>
            </dict>
            <key>exit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,262},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>exit_2.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{336,262},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>open_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,142},{130,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,58}}</string>
                <key>sourceSize</key>
                <string>{130,58}</string>
            </dict>
            <key>open_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{136,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{136,68}}</string>
                <key>sourceSize</key>
                <string>{136,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setLayer.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:780c531cba69f906c276f5f0feb8cd8a$</string>
            <key>textureFileName</key>
            <string>setLayer.png</string>
        </dict>
    </dict>
</plist>
