<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/yule/baccarat/res/GUI/bjl_an.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,548},{329,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{329,118}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_bg10.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,333},{227,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,62}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_bg11.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,548},{252,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,62}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_bg7.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,548},{262,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{262,125}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_bg8.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,548},{282,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,119}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_bg9.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,148},{183,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,91}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_cd.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,121},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_djs.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,669},{145,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,163}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_djs1.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,821},{115,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,28}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_djs2.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,938},{80,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,24}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_djs3.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,879},{227,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,40}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_fpq.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,821},{202,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,131}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_jb.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,967},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_qp1.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,117},{187,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,55}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_ry1.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_tx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,1},{145,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,145}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_xtk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1008},{44,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,2}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_xtk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,492},{327,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{327,61}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_xtk4.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,174},{184,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,55}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_xtk4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,237},{184,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,57}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_xtk5.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,967},{209,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,54}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_xtk6.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,148},{127,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,127}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_xtk7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,934},{489,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{489,72}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_xtk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{223,447}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,447}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_tx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,821},{364,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{364,144}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_tx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,450},{482,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{482,171}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_xtk9.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,1},{489,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{489,72}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/img_card_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,669},{102,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,138}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_xtk4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,548},{289,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{289,61}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_xtk4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,548},{289,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{289,61}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/bjl_rxxt.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/limit_zhezhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,450},{767,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{767,96}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist_game.png</string>
			<key>realTextureFileName</key>
			<string>Plist_game.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>