<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dashichangbiaoti0025.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dashichangbiaoti0027.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>242</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dashichangbiaoti0029.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>484</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dashichangbiaoti0031.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>726</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dashichangbiaoti0033.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>92</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chainiaochangbiaoti0001.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>242</integer>
				<key>y</key>
				<integer>92</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chainiaochangbiaoti0003.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>484</integer>
				<key>y</key>
				<integer>92</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chainiaochangbiaoti0005.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>726</integer>
				<key>y</key>
				<integer>92</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chainiaochangbiaoti0007.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>184</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chainiaochangbiaoti0009.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>242</integer>
				<key>y</key>
				<integer>184</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chainiaochangbiaoti0011.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>484</integer>
				<key>y</key>
				<integer>184</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chainiaochangbiaoti0013.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>726</integer>
				<key>y</key>
				<integer>184</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chainiaochangbiaoti0015.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>276</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chainiaochangbiaoti0017.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>242</integer>
				<key>y</key>
				<integer>276</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chainiaochangbiaoti0019.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>484</integer>
				<key>y</key>
				<integer>276</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chainiaochangbiaoti0021.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>726</integer>
				<key>y</key>
				<integer>276</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chainiaochangbiaoti0023.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>368</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chainiaochangbiaoti0025.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>242</integer>
				<key>y</key>
				<integer>368</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chainiaochangbiaoti0027.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>484</integer>
				<key>y</key>
				<integer>368</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chainiaochangbiaoti0029.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>726</integer>
				<key>y</key>
				<integer>368</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chainiaochangbiaoti0031.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>460</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chainiaochangbiaoti0033.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>242</integer>
				<key>y</key>
				<integer>460</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chainiaochangbiaoti0035.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>484</integer>
				<key>y</key>
				<integer>460</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jingyingchanglaohuji.png</key>
			<dict>
				<key>width</key>
				<integer>339</integer>
				<key>height</key>
				<integer>462</integer>
				<key>originalWidth</key>
				<integer>339</integer>
				<key>originalHeight</key>
				<integer>462</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>552</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dashichanglaohuji.png</key>
			<dict>
				<key>width</key>
				<integer>340</integer>
				<key>height</key>
				<integer>462</integer>
				<key>originalWidth</key>
				<integer>340</integer>
				<key>originalHeight</key>
				<integer>462</integer>
				<key>x</key>
				<integer>341</integer>
				<key>y</key>
				<integer>552</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>laohujifangjianxuanzhe_dating1.png</string>
			<key>realTextureFileName</key>
			<string>laohujifangjianxuanzhe_dating1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>