<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/yule/bonanza/res/GUI/baopo_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{285,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,285}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/baopo_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,288},{285,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,285}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/baopo_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,575},{285,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,285}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/baopo_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,1},{285,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,285}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/baopo_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,288},{285,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,285}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/baopo_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,575},{285,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,285}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/baopo_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,1},{285,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,285}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/baopo_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,288},{285,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,285}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/baopo_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,575},{285,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,285}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/baopo_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,1},{285,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,285}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/baopo_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,288},{285,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,285}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/baopo_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,575},{285,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,285}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/baopo_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1149,1},{285,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,285}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/baopo_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1149,288},{285,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,285}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/baopo_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1149,575},{285,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,285}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/shuiguo/friut_icon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,862},{152,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,111}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/shuiguo/friut_icon_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1436,1},{265,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{265,271}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/shuiguo/friut_icon_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1709,1},{218,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{218,222}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/shuiguo/friut_icon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,862},{161,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,126}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/shuiguo/friut_icon_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,862},{158,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,136}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/shuiguo/friut_icon_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,862},{129,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,137}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/shuiguo/friut_icon_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,862},{144,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,146}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/shuiguo/friut_icon_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,862},{157,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,133}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/shuiguo/friut_icon_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,862},{152,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,133}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/shuiguo/friut_icon_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,862},{152,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,134}</string>
			</dict>
			<key>game/yule/bonanza/res/GUI/shuiguo/friut_icon_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,862},{151,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,136}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist_shuiguo.png</string>
			<key>realTextureFileName</key>
			<string>Plist_shuiguo.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>