<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kfieji.qaudhw.flayw">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>
    <application
        android:name="demo.LayaApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:allowBackup="false"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:allowBackup">
        <!--xiaomi-->
        <meta-data android:name="notch.config" android:value="portrait" />
        <!--huawei-->
        <meta-data android:name="android.notch_support" android:value="true" />
        <provider
            android:name="demo.LayaFileProvider"
            android:authorities="${applicationId}.laya.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/laya_file_paths" />
        </provider>

        <activity
            android:name="demo.MainActivity"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:launchMode="singleTop"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name="demo.BlitzActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:launchMode="singleTop"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <activity
            android:exported="true"
            android:name="com.facebook.FacebookActivity"
            android:screenOrientation="sensorLandscape"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <uses-library android:name="org.apache.http.legacy" android:required="false" />
    </application>
</manifest>
