<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bxnh-+.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,313},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>bxnh--.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,307},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>bxnh-Aposta.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,70},{109,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,33}}</string>
                <key>sourceSize</key>
                <string>{109,33}</string>
            </dict>
            <key>bxnh-Premio.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,70},{235,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,60}}</string>
                <key>sourceSize</key>
                <string>{235,60}</string>
            </dict>
            <key>bxnh-auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{170,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,66}}</string>
                <key>sourceSize</key>
                <string>{170,66}</string>
            </dict>
            <key>bxnh-bk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{333,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,106}}</string>
                <key>sourceSize</key>
                <string>{333,106}</string>
            </dict>
            <key>bxnh-button01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{202,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,106}}</string>
                <key>sourceSize</key>
                <string>{202,106}</string>
            </dict>
            <key>bxnh-button02.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,105},{206,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,108}}</string>
                <key>sourceSize</key>
                <string>{206,108}</string>
            </dict>
            <key>bxnh-buttonbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,110},{202,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,104}}</string>
                <key>sourceSize</key>
                <string>{202,104}</string>
            </dict>
            <key>bxnh-dui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bxnh.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:beaa1b085eb2642b883f236262dba3d2$</string>
            <key>textureFileName</key>
            <string>bxnh.png</string>
        </dict>
    </dict>
</plist>
