<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/signin/GUI/qd_biaoti.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{998,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{998,165}</string>
			</dict>
			<key>client/res/signin/GUI/qd_Dia1.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,940},{115,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,39}</string>
			</dict>
			<key>client/res/signin/GUI/qd_Dia2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1388,393},{125,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,39}</string>
			</dict>
			<key>client/res/signin/GUI/qd_Dia3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,940},{124,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,39}</string>
			</dict>
			<key>client/res/signin/GUI/qd_Dia4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1291,973},{125,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,39}</string>
			</dict>
			<key>client/res/signin/GUI/qd_Dia5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,983},{122,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,39}</string>
			</dict>
			<key>client/res/signin/GUI/qd_Dia6.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,983},{122,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,39}</string>
			</dict>
			<key>client/res/signin/GUI/qd_Dia7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1291,921},{120,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,48}</string>
			</dict>
			<key>client/res/signin/GUI/qd_qjd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1849,897},{148,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,111}</string>
			</dict>
			<key>client/res/signin/GUI/sign_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,921},{158,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,86}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_02_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,2},{806,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{806,133}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1215,139},{584,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{584,65}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,921},{110,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,80}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,797},{137,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,96}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1571,766},{138,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,117}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,743},{142,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,138}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,649},{140,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,144}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,457},{163,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,188}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jb7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1215,208},{169,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,226}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,921},{906,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{906,15}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2026,472},{20,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,26}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1215,438},{39,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,26}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,438},{39,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,26}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1301,438},{39,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,26}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1387,438},{40,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,15}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd3.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,940},{80,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,47}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd4.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,940},{80,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1713,766},{89,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,52}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1713,822},{82,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,56}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1388,208},{208,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,181}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,921},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1344,438},{39,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,21}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_kk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,171},{207,398}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,398}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_kk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,171},{209,410}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,410}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_kk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1813,472},{209,421}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,421}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_kk4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1600,208},{209,433}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,433}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_kk5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1215,472},{208,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,445}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_kk6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,139},{207,456}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,456}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_kk7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1814,2},{213,466}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,466}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_xz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,897},{207,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,117}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_xz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,599},{231,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,140}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_xz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1638,897},{207,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,117}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_xz4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1594,645},{207,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,117}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SigninPlist.png</string>
			<key>realTextureFileName</key>
			<string>SigninPlist.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>