<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/signin/GUI/qd_biaoti.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{998,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{998,165}</string>
			</dict>
			<key>client/res/signin/GUI/qd_Dia1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1857,123},{115,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,39}</string>
			</dict>
			<key>client/res/signin/GUI/qd_Dia2.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,733},{125,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,39}</string>
			</dict>
			<key>client/res/signin/GUI/qd_Dia3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1562,841},{124,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,39}</string>
			</dict>
			<key>client/res/signin/GUI/qd_Dia4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1433,841},{125,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,39}</string>
			</dict>
			<key>client/res/signin/GUI/qd_Dia5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1645,379},{122,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,39}</string>
			</dict>
			<key>client/res/signin/GUI/qd_Dia6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1812,329},{122,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,39}</string>
			</dict>
			<key>client/res/signin/GUI/qd_Dia7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1123,953},{120,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,48}</string>
			</dict>
			<key>client/res/signin/GUI/qd_qjd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1247,911},{148,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,111}</string>
			</dict>
			<key>client/res/signin/GUI/sign_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1399,911},{158,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,86}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,911},{584,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{584,65}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1687,600},{110,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,80}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1687,500},{137,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,96}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1857,2},{138,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,117}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1812,187},{142,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,138}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,585},{140,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,144}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1645,187},{163,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,188}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jb7.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,585},{169,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,226}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,980},{906,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{906,15}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd10.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,407},{39,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,26}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd11.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,437},{39,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,26}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd12.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,437},{39,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,26}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd13.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,407},{40,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,26}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1432,439},{40,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,15}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd3.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,287},{80,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,47}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd4.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,231},{80,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1123,897},{89,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,52}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd6.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,171},{82,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,56}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1645,2},{208,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,181}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd8.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,171},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_jd9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,999},{39,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,21}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_kk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1476,439},{207,398}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,398}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_kk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,171},{209,410}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,410}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_kk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,472},{209,421}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,421}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_kk4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1432,2},{209,433}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,433}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_kk5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1221,462},{208,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,445}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_kk6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1221,2},{207,456}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,456}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_kk7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,2},{213,466}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,466}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_xz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,897},{207,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,117}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_xz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,815},{231,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,140}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_xz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1561,884},{207,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,117}</string>
			</dict>
			<key>client/res/signin/GUI/mrdl_xz4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,379},{207,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,117}</string>
			</dict>
			<key>client/res/signin/GUI/guanbi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,338},{57,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,65}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SigninPlist.png</string>
			<key>realTextureFileName</key>
			<string>SigninPlist.png</string>
			<key>size</key>
			<string>{1997,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1997</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>