<?xml version="1.0"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>count_num_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,1},{82,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{82,124}</string>
      </dict>
      <key>count_num_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,127},{82,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{82,124}</string>
      </dict>
      <key>count_num_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,253},{82,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{82,124}</string>
      </dict>
      <key>daojishi_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{300,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{300,300}</string>
      </dict>
      <key>daojishi_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,303},{300,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{300,300}</string>
      </dict>
      <key>daojishi_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,605},{300,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{300,300}</string>
      </dict>
      <key>daojishi_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,1},{300,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{300,300}</string>
      </dict>
      <key>daojishi_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,1},{300,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{300,300}</string>
      </dict>
      <key>daojishi_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,303},{300,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{300,300}</string>
      </dict>
      <key>daojishi_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,303},{300,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{300,300}</string>
      </dict>
      <key>daojishi_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,605},{300,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{300,300}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>daojishi.png</string>
      <key>realTextureFileName</key>
      <string>daojishi.png</string>
      <key>size</key>
      <string>{990,906}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>990</integer>
      <key>height</key>
      <integer>906</integer>
    </dict>
  </dict>
</plist>
