<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>double_bet_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,158},{151,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,154}}</string>
                <key>sourceSize</key>
                <string>{151,154}</string>
            </dict>
            <key>double_bet_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,154}}</string>
                <key>sourceSize</key>
                <string>{152,154}</string>
            </dict>
            <key>double_bet_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{150,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,153}}</string>
                <key>sourceSize</key>
                <string>{150,153}</string>
            </dict>
            <key>double_bet_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{151,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,154}}</string>
                <key>sourceSize</key>
                <string>{151,154}</string>
            </dict>
            <key>double_bet_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{151,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,154}}</string>
                <key>sourceSize</key>
                <string>{151,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>double_bet_icon.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2ff64f17d81a85c27f0e3f9d46aa8d7$</string>
            <key>textureFileName</key>
            <string>double_bet_icon.png</string>
        </dict>
    </dict>
</plist>
