<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/bank_new/bankChangePassword/yh_sran.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,946},{237,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,98}</string>
			</dict>
			<key>client/res/bank_new/bankChangePassword/yh_sran1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1836,1620},{109,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,41}</string>
			</dict>
			<key>client/res/bank_new/bankChangePassword/yh_sran2.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,1046},{237,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,98}</string>
			</dict>
			<key>client/res/bank_new/bankChangePassword/yh_sran3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1836,1995},{174,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,41}</string>
			</dict>
			<key>client/res/bank_new/bankChangePassword/yh_sran4.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,334},{264,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,95}</string>
			</dict>
			<key>client/res/bank_new/bankChangePassword/yh_sran5.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,237},{288,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,95}</string>
			</dict>
			<key>client/res/bank_new/bankChangePassword/yh_srkpng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,580},{484,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{484,63}</string>
			</dict>
			<key>client/res/bank_new/bankHall/btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1345},{271,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,164}</string>
			</dict>
			<key>client/res/bank_new/bankHall/btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,1345},{271,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,164}</string>
			</dict>
			<key>client/res/bank_new/bankHall/btn3.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1657},{271,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,164}</string>
			</dict>
			<key>client/res/bank_new/bankHall/btn7.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,1657},{271,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,164}</string>
			</dict>
			<key>client/res/bank_new/bankHall/btn8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1189,1345},{271,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,164}</string>
			</dict>
			<key>client/res/bank_new/bankHall/btn9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,1511},{271,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,164}</string>
			</dict>
			<key>client/res/bank_new/bankHall/yh_bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1652,409},{734,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{734,186}</string>
			</dict>
			<key>client/res/bank_new/bankHall/yh_dbgtc12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,1835},{271,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,164}</string>
			</dict>
			<key>client/res/bank_new/bankHall/yh_dbgtc13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1453,1553},{271,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,164}</string>
			</dict>
			<key>client/res/bank_new/bankHall/yh_dbgtc14.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,1511},{254,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,144}</string>
			</dict>
			<key>client/res/bank_new/bankHall/yh_dbgtc15.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,1895},{254,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,144}</string>
			</dict>
			<key>client/res/bank_new/bankHall/yh_dbgtc16.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,1056},{254,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,144}</string>
			</dict>
			<key>client/res/bank_new/bankHall/yh_dbgtc17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1464,1},{774,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{774,186}</string>
			</dict>
			<key>client/res/bank_new/bankHall/yh_dbgtc18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1464,777},{774,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{774,186}</string>
			</dict>
			<key>client/res/bank_new/bankHall/yh_dbgtc6.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,741},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>client/res/bank_new/bankHall/yh_dbgtc7.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,741},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>client/res/bank_new/bankHall/yh_dbgtc8.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,869},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>client/res/bank_new/bankHall/yh_dbgtc9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,237},{271,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,164}</string>
			</dict>
			<key>client/res/bank_new/bankHall/yh_gb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,1823},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>client/res/bank_new/bankHall/yh_jyjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,563},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>client/res/bank_new/bankHall/yh_kf.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,431},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>client/res/bank_new/bankHall/yh_qj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1553},{356,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{356,242}</string>
			</dict>
			<key>client/res/bank_new/bankHall/yh_xgmm.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,691},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/TC/yh_tcjl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1911},{363,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{363,131}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/TC/yh_tcjl10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1652,1145},{316,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{316,173}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/TC/yh_tcjl11.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,1345},{316,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,173}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/TC/yh_tcjl12.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,1520},{316,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{316,173}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/TC/yh_tcjl13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1836,1671},{322,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{322,192}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/TC/yh_tcjl14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1345},{322,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,192}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/TC/yh_tcjl15.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,1539},{322,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{322,192}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/TC/yh_tcjl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1953,719},{287,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{287,25}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/TC/yh_tcjl4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,2001},{132,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,32}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/TC/yh_tcjl5.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,1312},{78,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,25}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/TC/yh_tcjl6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1619,1553},{108,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,31}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/TC/yh_tcjl7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1160,1657},{165,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,31}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/btn10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,510},{271,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,164}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/btn11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,783},{271,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,164}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/btn212.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1056},{271,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,164}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/btn4.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,237},{271,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,164}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/btn5.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,510},{271,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,164}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/btn6.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,783},{271,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,164}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/yh_jlan8.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,1056},{254,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,144}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/yh_jlbg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1317,1},{1342,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1342,145}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/yh_jlnr1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1840,409},{1112,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1112,111}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/yh_jlnr2.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,1897},{363,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{363,131}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/yh_jlnr3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1836,1523},{95,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,96}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/yh_jlnr4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,1784},{165,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,31}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/yh_jlnr5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1619,1663},{108,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,31}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/yh_jlnr6.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,1312},{78,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,25}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/yh_jlnr7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1503,2001},{132,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,32}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/yh_jlnr8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1953,1008},{287,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{287,25}</string>
			</dict>
			<key>client/res/bank_new/bankToAndOutRecord/yh_zrjl_zczr.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,1838},{127,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,47}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_an3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1652,1523},{500,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,182}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_an3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,1511},{322,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{322,81}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_an3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1980,1066},{185,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,67}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_an3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1823},{362,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,70}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_an4.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,1046},{235,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,75}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_bbbg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1520},{332,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,135}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_bbbg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1993,1},{267,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,35}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_bbbg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,1863},{267,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,32}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_bxxbg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1953,409},{308,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,28}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_bxxbg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1993,270},{308,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,30}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_cq_cr.png</key>
			<dict>
				<key>frame</key>
				<string>{{1652,1463},{169,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,45}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_cq_jb.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,1285},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_cq_shk.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,1975},{54,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,71}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_cz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,1975},{85,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,65}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_cz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1953,1297},{372,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{372,71}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_cz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,431},{128,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,130}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_cz5.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,559},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_cz6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1652,1},{406,339}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{406,339}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_jbsrk.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,609},{335,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{335,69}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_jbsrk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1314,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1314,234}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_jt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1159,1824},{198,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,208}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_srtx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,432},{175,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,167}</string>
			</dict>
			<key>client/res/bank_new/subAccess/yh_srtx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,237},{193,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{193,165}</string>
			</dict>
			<key>client/res/bank_new/subTransfer/clip.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,609},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist_bank_new.png</string>
			<key>realTextureFileName</key>
			<string>Plist_bank_new.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>