<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cannon/images/cannon_1_1_pao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,84},{58,63}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,69}</string>
			</dict>
			<key>cannon/images/cannon_1_1_pao1d.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,225},{110,105}}</string>
				<key>offset</key>
				<string>{-1,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,158}</string>
			</dict>
			<key>cannon/images/cannon_1_1_pao1tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,658},{54,44}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,56}</string>
			</dict>
			<key>cannon/images/cannon_1_2_pao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,480},{138,96}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,102}</string>
			</dict>
			<key>cannon/images/cannon_1_2_pao1d.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,167},{182,132}}</string>
				<key>offset</key>
				<string>{0,-32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,197}</string>
			</dict>
			<key>cannon/images/cannon_1_2_pao1tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,638},{69,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,73}</string>
			</dict>
			<key>cannon/images/cannon_2_1_pao.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,155},{56,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,64}</string>
			</dict>
			<key>cannon/images/cannon_2_1_paodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,431},{143,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,136}</string>
			</dict>
			<key>cannon/images/cannon_2_1_tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,612},{82,49}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,62}</string>
			</dict>
			<key>cannon/images/cannon_2_2_pao.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,479},{144,102}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,107}</string>
			</dict>
			<key>cannon/images/cannon_2_2_paodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,222},{200,119}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,122}</string>
			</dict>
			<key>cannon/images/cannon_2_2_tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,554},{79,67}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,93}</string>
			</dict>
			<key>cannon/images/cannon_3_1_pao.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,596},{115,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,95}</string>
			</dict>
			<key>cannon/images/cannon_3_1_paodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,349},{160,123}}</string>
				<key>offset</key>
				<string>{1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,140}</string>
			</dict>
			<key>cannon/images/cannon_3_1_tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,629},{76,60}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,75}</string>
			</dict>
			<key>cannon/images/cannon_3_2_pao.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,307},{197,116}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,122}</string>
			</dict>
			<key>cannon/images/cannon_3_2_paodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,4},{230,155}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,159}</string>
			</dict>
			<key>cannon/images/cannon_3_2_tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,584},{82,66}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,85}</string>
			</dict>
			<key>cannon/images/dntgtest_battle_ui_btn_plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,349},{57,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,60}</string>
			</dict>
			<key>cannon/images/dntgtest_battle_ui_btn_plus_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,415},{57,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,60}</string>
			</dict>
			<key>cannon/images/dntgtest_battle_ui_btn_plus_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,480},{57,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,60}</string>
			</dict>
			<key>cannon/images/dntgtest_battle_ui_btn_sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,481},{57,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,60}</string>
			</dict>
			<key>cannon/images/dntgtest_battle_ui_btn_sub_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,546},{57,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,60}</string>
			</dict>
			<key>cannon/images/dntgtest_battle_ui_btn_sub_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,547},{57,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,60}</string>
			</dict>
			<key>cannon/images/dntgtest_battle_ui_dengdairuzuoDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,374},{197,82}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,84}</string>
			</dict>
			<key>cannon/images/dntgtest_battle_ui_dengdairuzuoUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,464},{197,82}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,84}</string>
			</dict>
			<key>cannon/images/dntgtest_battle_ui_icon_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,167},{29,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,31}</string>
			</dict>
			<key>cannon/images/dntgtest_battle_ui_lock_flag.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,696},{99,101}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>cannon/images/dntgtest_battle_ui_paoshu-dikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,589},{122,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,49}</string>
			</dict>
			<key>cannon/images/dntgtest_battle_ui_paotai.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,374},{193,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,97}</string>
			</dict>
			<key>cannon/images/dntgtest_battle_ui_xuanding-kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,452},{136,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,136}</string>
			</dict>
			<key>cannon/images/dntgtest_Bullet_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,4},{52,72}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,89}</string>
			</dict>
			<key>cannon/images/dntgtest_Bullet_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,573},{101,105}}</string>
				<key>offset</key>
				<string>{-1,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>cannon/images/dntgtest_Bullet_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,554},{77,76}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>cannon/images/dntgtest_Bullet_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,596},{101,105}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,123}</string>
			</dict>
			<key>cannon/images/dntgtest_Bullet_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,554},{72,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,90}</string>
			</dict>
			<key>cannon/images/dntgtest_Bullet_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,338},{102,106}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,125}</string>
			</dict>
			<key>cannon/images/dntgtest_Net_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,223},{142,143}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,180}</string>
			</dict>
			<key>cannon/images/dntgtest_Net_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,4},{230,210}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,217}</string>
			</dict>
			<key>cannon/images/dntgtest_Net_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,223},{142,143}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,180}</string>
			</dict>
			<key>cannon/images/dntgtest_Net_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{230,211}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,217}</string>
			</dict>
			<key>cannon/images/dntgtest_Net_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,223},{142,143}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,180}</string>
			</dict>
			<key>cannon/images/dntgtest_Net_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,4},{230,211}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,217}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>dntg_cannon.png</string>
			<key>realTextureFileName</key>
			<string>dntg_cannon.png</string>
			<key>size</key>
			<string>{1023,801}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>801</integer>
		</dict>
	</dict>
</plist>