<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuihua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1768},{375,217}}</string>
                <key>offset</key>
                <string>{41,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,138},{375,217}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1844},{357,217}}</string>
                <key>offset</key>
                <string>{50,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,138},{357,217}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2411},{341,217}}</string>
                <key>offset</key>
                <string>{58,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,138},{341,217}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,3156},{315,221}}</string>
                <key>offset</key>
                <string>{71,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,137},{315,221}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,3379},{295,221}}</string>
                <key>offset</key>
                <string>{81,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,137},{295,221}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,3279},{305,213}}</string>
                <key>offset</key>
                <string>{86,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,145},{305,213}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3226},{307,213}}</string>
                <key>offset</key>
                <string>{87,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,145},{307,213}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,3064},{319,213}}</string>
                <key>offset</key>
                <string>{94,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,145},{319,213}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2198},{347,211}}</string>
                <key>offset</key>
                <string>{108,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,147},{347,211}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1987},{357,209}}</string>
                <key>offset</key>
                <string>{112,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,149},{357,209}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2772},{327,211}}</string>
                <key>offset</key>
                <string>{97,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,147},{327,211}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,3529},{279,199}}</string>
                <key>offset</key>
                <string>{73,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,159},{279,199}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2306},{341,217}}</string>
                <key>offset</key>
                <string>{63,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,141},{341,217}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2630},{333,253}}</string>
                <key>offset</key>
                <string>{100,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,105},{333,253}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2660},{327,253}}</string>
                <key>offset</key>
                <string>{103,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,105},{327,253}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1354},{387,271}}</string>
                <key>offset</key>
                <string>{140,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,87},{387,271}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1571},{381,271}}</string>
                <key>offset</key>
                <string>{143,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,87},{381,271}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2063},{349,241}}</string>
                <key>offset</key>
                <string>{159,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,117},{349,241}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1989},{349,241}}</string>
                <key>offset</key>
                <string>{159,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,117},{349,241}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2525},{337,245}}</string>
                <key>offset</key>
                <string>{165,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,113},{337,245}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2413},{337,245}}</string>
                <key>offset</key>
                <string>{165,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,113},{337,245}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2985},{325,239}}</string>
                <key>offset</key>
                <string>{171,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,119},{325,239}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2915},{325,239}}</string>
                <key>offset</key>
                <string>{171,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,119},{325,239}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3441},{295,191}}</string>
                <key>offset</key>
                <string>{186,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,167},{295,191}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,668},{295,191}}</string>
                <key>offset</key>
                <string>{186,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,167},{295,191}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,3753},{295,117}}</string>
                <key>offset</key>
                <string>{186,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,241},{295,117}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3753},{295,117}}</string>
                <key>offset</key>
                <string>{186,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,241},{295,117}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2630},{295,137}}</string>
                <key>offset</key>
                <string>{186,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,221},{295,137}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2630},{295,137}}</string>
                <key>offset</key>
                <string>{186,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,221},{295,137}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3634},{295,117}}</string>
                <key>offset</key>
                <string>{186,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,241},{295,117}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3634},{295,117}}</string>
                <key>offset</key>
                <string>{186,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,241},{295,117}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,3602},{295,117}}</string>
                <key>offset</key>
                <string>{186,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,241},{295,117}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,3602},{295,117}}</string>
                <key>offset</key>
                <string>{186,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,241},{295,117}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,3494},{295,117}}</string>
                <key>offset</key>
                <string>{186,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,241},{295,117}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,3494},{295,117}}</string>
                <key>offset</key>
                <string>{186,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,241},{295,117}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{281,149}}</string>
                <key>offset</key>
                <string>{193,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,206},{281,149}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{281,149}}</string>
                <key>offset</key>
                <string>{193,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,206},{281,149}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{281,149}}</string>
                <key>offset</key>
                <string>{193,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,206},{281,149}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,2927},{281,147}}</string>
                <key>offset</key>
                <string>{193,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,208},{281,147}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,2927},{281,147}}</string>
                <key>offset</key>
                <string>{193,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,208},{281,147}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,2927},{281,147}}</string>
                <key>offset</key>
                <string>{193,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,208},{281,147}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,3810},{281,145}}</string>
                <key>offset</key>
                <string>{193,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,210},{281,145}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,3810},{281,145}}</string>
                <key>offset</key>
                <string>{193,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,210},{281,145}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,3810},{281,145}}</string>
                <key>offset</key>
                <string>{193,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,210},{281,145}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,3810},{281,145}}</string>
                <key>offset</key>
                <string>{193,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,210},{281,145}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,3810},{281,145}}</string>
                <key>offset</key>
                <string>{193,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,210},{281,145}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,3613},{281,143}}</string>
                <key>offset</key>
                <string>{193,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,212},{281,143}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,3613},{281,143}}</string>
                <key>offset</key>
                <string>{193,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,212},{281,143}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,3810},{281,145}}</string>
                <key>offset</key>
                <string>{193,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,210},{281,145}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,3810},{281,145}}</string>
                <key>offset</key>
                <string>{193,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,210},{281,145}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,3810},{281,145}}</string>
                <key>offset</key>
                <string>{193,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,210},{281,145}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,3810},{281,145}}</string>
                <key>offset</key>
                <string>{193,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,210},{281,145}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,3810},{281,145}}</string>
                <key>offset</key>
                <string>{193,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,210},{281,145}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,3210},{317,177}}</string>
                <key>offset</key>
                <string>{175,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{350,178},{317,177}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2885},{327,177}}</string>
                <key>offset</key>
                <string>{170,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,178},{327,177}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2232},{347,179}}</string>
                <key>offset</key>
                <string>{160,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,176},{347,179}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1410},{365,177}}</string>
                <key>offset</key>
                <string>{151,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,178},{365,177}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,285},{381,179}}</string>
                <key>offset</key>
                <string>{143,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,176},{381,179}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1808},{373,179}}</string>
                <key>offset</key>
                <string>{147,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,176},{373,179}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1589},{359,177}}</string>
                <key>offset</key>
                <string>{154,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,178},{359,177}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1627},{379,179}}</string>
                <key>offset</key>
                <string>{144,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,176},{379,179}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1354},{397,215}}</string>
                <key>offset</key>
                <string>{135,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,140},{397,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1137},{415,215}}</string>
                <key>offset</key>
                <string>{126,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,139},{415,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1137},{439,215}}</string>
                <key>offset</key>
                <string>{114,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,139},{439,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,965},{443,225}}</string>
                <key>offset</key>
                <string>{112,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,129},{443,225}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{463,225}}</string>
                <key>offset</key>
                <string>{99,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,129},{463,225}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,456},{479,225}}</string>
                <key>offset</key>
                <string>{82,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,129},{479,225}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{487,225}}</string>
                <key>offset</key>
                <string>{68,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,129},{487,225}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{473,225}}</string>
                <key>offset</key>
                <string>{66,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,129},{473,225}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,910},{455,225}}</string>
                <key>offset</key>
                <string>{65,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,129},{455,225}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,683},{469,225}}</string>
                <key>offset</key>
                <string>{49,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,129},{469,225}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{481,225}}</string>
                <key>offset</key>
                <string>{33,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,129},{481,225}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{493,225}}</string>
                <key>offset</key>
                <string>{18,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,129},{493,225}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,229},{483,225}}</string>
                <key>offset</key>
                <string>{13,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,129},{483,225}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>kuihua_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{491,225}}</string>
                <key>offset</key>
                <string>{0,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,129},{491,225}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>KUIHUA.png</string>
            <key>size</key>
            <string>{1159,4093}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4562564804a6120fcb573be885e1b8d$</string>
            <key>textureFileName</key>
            <string>KUIHUA.png</string>
        </dict>
    </dict>
</plist>
