<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QYY_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1642},{447,213}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,137},{447,213}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,428},{333,213}}</string>
                <key>offset</key>
                <string>{59,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,137},{333,213}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2677},{245,217}}</string>
                <key>offset</key>
                <string>{103,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,136},{245,217}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3119},{239,219}}</string>
                <key>offset</key>
                <string>{106,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,134},{239,219}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,3060},{237,219}}</string>
                <key>offset</key>
                <string>{107,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,134},{237,219}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,3012},{241,221}}</string>
                <key>offset</key>
                <string>{129,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,132},{241,221}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2896},{243,221}}</string>
                <key>offset</key>
                <string>{150,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,132},{243,221}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2837},{241,221}}</string>
                <key>offset</key>
                <string>{166,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,132},{241,221}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2820},{229,221}}</string>
                <key>offset</key>
                <string>{183,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,132},{229,221}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,3043},{229,207}}</string>
                <key>offset</key>
                <string>{188,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,146},{229,207}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,2751},{259,197}}</string>
                <key>offset</key>
                <string>{204,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{408,156},{259,197}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,3252},{233,191}}</string>
                <key>offset</key>
                <string>{217,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,162},{233,191}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,2516},{233,191}}</string>
                <key>offset</key>
                <string>{217,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{434,162},{233,191}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2281},{233,189}}</string>
                <key>offset</key>
                <string>{217,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{434,164},{233,189}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,3281},{233,157}}</string>
                <key>offset</key>
                <string>{217,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,218},{233,157}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,3445},{233,141}}</string>
                <key>offset</key>
                <string>{217,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,225},{233,141}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3340},{233,155}}</string>
                <key>offset</key>
                <string>{217,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,198},{233,155}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2688},{263,147}}</string>
                <key>offset</key>
                <string>{202,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,213},{263,147}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1991},{483,147}}</string>
                <key>offset</key>
                <string>{92,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,213},{483,147}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2535},{271,151}}</string>
                <key>offset</key>
                <string>{198,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,213},{271,151}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2382},{271,151}}</string>
                <key>offset</key>
                <string>{198,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,213},{271,151}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2520},{271,155}}</string>
                <key>offset</key>
                <string>{198,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,209},{271,155}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2361},{271,157}}</string>
                <key>offset</key>
                <string>{198,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,207},{271,157}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2223},{271,157}}</string>
                <key>offset</key>
                <string>{198,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,207},{271,157}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,3440},{233,147}}</string>
                <key>offset</key>
                <string>{217,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,207},{233,147}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,3438},{219,145}}</string>
                <key>offset</key>
                <string>{224,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,210},{219,145}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2524},{203,149}}</string>
                <key>offset</key>
                <string>{232,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,207},{203,149}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3640},{209,143}}</string>
                <key>offset</key>
                <string>{229,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,213},{209,143}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,3879},{205,143}}</string>
                <key>offset</key>
                <string>{231,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{462,213},{205,143}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,3879},{205,143}}</string>
                <key>offset</key>
                <string>{231,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{462,213},{205,143}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2675},{203,143}}</string>
                <key>offset</key>
                <string>{232,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,213},{203,143}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,3589},{207,143}}</string>
                <key>offset</key>
                <string>{230,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,213},{207,143}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1857},{209,169}}</string>
                <key>offset</key>
                <string>{229,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{458,187},{209,169}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2068},{211,171}}</string>
                <key>offset</key>
                <string>{228,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{456,185},{211,171}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3497},{211,141}}</string>
                <key>offset</key>
                <string>{228,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,215},{211,141}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,3585},{211,161}}</string>
                <key>offset</key>
                <string>{228,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,195},{211,161}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2361},{203,161}}</string>
                <key>offset</key>
                <string>{232,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,195},{203,161}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,3879},{205,143}}</string>
                <key>offset</key>
                <string>{231,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{462,212},{205,143}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,3879},{205,143}}</string>
                <key>offset</key>
                <string>{231,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{462,212},{205,143}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,3879},{205,143}}</string>
                <key>offset</key>
                <string>{231,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{462,212},{205,143}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3879},{205,143}}</string>
                <key>offset</key>
                <string>{231,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{462,212},{205,143}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3879},{205,143}}</string>
                <key>offset</key>
                <string>{231,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{462,212},{205,143}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,3879},{205,141}}</string>
                <key>offset</key>
                <string>{231,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{462,214},{205,141}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,3879},{205,141}}</string>
                <key>offset</key>
                <string>{231,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{462,214},{205,141}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,3748},{205,139}}</string>
                <key>offset</key>
                <string>{231,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,216},{205,139}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,3748},{205,139}}</string>
                <key>offset</key>
                <string>{231,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,216},{205,139}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,3889},{205,137}}</string>
                <key>offset</key>
                <string>{231,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,218},{205,137}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,3889},{205,137}}</string>
                <key>offset</key>
                <string>{231,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,218},{205,137}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,3734},{205,143}}</string>
                <key>offset</key>
                <string>{231,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,217},{205,143}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,3588},{209,181}}</string>
                <key>offset</key>
                <string>{229,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,180},{209,181}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,3255},{227,181}}</string>
                <key>offset</key>
                <string>{220,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,180},{227,181}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1857},{281,183}}</string>
                <key>offset</key>
                <string>{193,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,178},{281,183}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1053},{305,183}}</string>
                <key>offset</key>
                <string>{181,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,178},{305,183}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2042},{281,179}}</string>
                <key>offset</key>
                <string>{193,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,180},{281,179}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1238},{297,179}}</string>
                <key>offset</key>
                <string>{185,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,179},{297,179}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,643},{325,181}}</string>
                <key>offset</key>
                <string>{171,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,176},{325,181}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,213},{351,213}}</string>
                <key>offset</key>
                <string>{158,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,143},{351,213}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,2},{375,209}}</string>
                <key>offset</key>
                <string>{146,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,147},{375,209}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,826},{419,225}}</string>
                <key>offset</key>
                <string>{124,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,131},{419,225}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1419},{437,221}}</string>
                <key>offset</key>
                <string>{115,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,135},{437,221}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1545},{493,223}}</string>
                <key>offset</key>
                <string>{87,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,133},{493,223}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1105},{507,219}}</string>
                <key>offset</key>
                <string>{70,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,137},{507,219}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2140},{477,219}}</string>
                <key>offset</key>
                <string>{78,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,137},{477,219}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1770},{487,219}}</string>
                <key>offset</key>
                <string>{65,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,137},{487,219}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{507,219}}</string>
                <key>offset</key>
                <string>{48,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,137},{507,219}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{527,219}}</string>
                <key>offset</key>
                <string>{31,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,137},{527,219}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{545,219}}</string>
                <key>offset</key>
                <string>{15,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,137},{545,219}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{525,219}}</string>
                <key>offset</key>
                <string>{18,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,136},{525,219}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,665},{517,217}}</string>
                <key>offset</key>
                <string>{15,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,137},{517,217}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>QYY_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1326},{503,217}}</string>
                <key>offset</key>
                <string>{8,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,137},{503,217}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>QH_QYY.png</string>
            <key>size</key>
            <string>{946,4086}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00a75384efc93b32d1fed8acc8844115$</string>
            <key>textureFileName</key>
            <string>QH_QYY.png</string>
        </dict>
    </dict>
</plist>
