<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>YGPZ75_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2284,3208},{497,211}}</string>
                <key>offset</key>
                <string>{4,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,139},{497,211}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2262,3421},{519,211}}</string>
                <key>offset</key>
                <string>{16,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,139},{519,211}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,3798},{539,213}}</string>
                <key>offset</key>
                <string>{26,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,137},{539,213}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,3809},{539,213}}</string>
                <key>offset</key>
                <string>{26,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,137},{539,213}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,3610},{545,197}}</string>
                <key>offset</key>
                <string>{29,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,153},{545,197}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2198,3798},{545,195}}</string>
                <key>offset</key>
                <string>{29,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,160},{545,195}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,2255},{577,333}}</string>
                <key>offset</key>
                <string>{45,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,17},{577,333}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,2255},{577,333}}</string>
                <key>offset</key>
                <string>{45,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,17},{577,333}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,2003},{577,333}}</string>
                <key>offset</key>
                <string>{45,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,17},{577,333}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2446,2082},{577,333}}</string>
                <key>offset</key>
                <string>{45,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,17},{577,333}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,1983},{577,333}}</string>
                <key>offset</key>
                <string>{45,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,17},{577,333}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2129},{577,333}}</string>
                <key>offset</key>
                <string>{45,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,17},{577,333}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1920},{577,333}}</string>
                <key>offset</key>
                <string>{45,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,17},{577,333}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,3338},{545,263}}</string>
                <key>offset</key>
                <string>{29,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,87},{545,263}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2302,2661},{545,263}}</string>
                <key>offset</key>
                <string>{29,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,87},{545,263}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,3555},{545,241}}</string>
                <key>offset</key>
                <string>{29,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,109},{545,241}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3550},{545,241}}</string>
                <key>offset</key>
                <string>{29,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,109},{545,241}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,3367},{545,241}}</string>
                <key>offset</key>
                <string>{29,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,109},{545,241}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2552,1535},{545,241}}</string>
                <key>offset</key>
                <string>{29,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,109},{545,241}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,3603},{545,229}}</string>
                <key>offset</key>
                <string>{29,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,121},{545,229}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3793},{545,229}}</string>
                <key>offset</key>
                <string>{29,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,121},{545,229}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2567,2661},{545,229}}</string>
                <key>offset</key>
                <string>{29,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,121},{545,229}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2795},{575,295}}</string>
                <key>offset</key>
                <string>{44,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,55},{575,295}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,2590},{577,317}}</string>
                <key>offset</key>
                <string>{45,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,33},{577,317}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2338},{577,317}}</string>
                <key>offset</key>
                <string>{45,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,33},{577,317}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,2318},{577,325}}</string>
                <key>offset</key>
                <string>{45,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,25},{577,325}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2464},{577,329}}</string>
                <key>offset</key>
                <string>{45,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,21},{577,329}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1079},{667,357}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{667,357}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1079},{667,357}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{667,357}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2009,720},{667,357}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{667,357}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,720},{667,357}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{667,357}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,720},{667,357}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{667,357}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{667,357}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{667,357}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2009,361},{667,357}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{667,357}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,361},{667,357}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{667,357}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,361},{667,357}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{667,357}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{667,357}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{667,357}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2009,2},{667,357}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{667,357}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,2},{667,357}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{667,357}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{667,357}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{667,357}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{667,357}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{667,357}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1685},{635,233}}</string>
                <key>offset</key>
                <string>{-16,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,119},{635,233}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,1531},{635,241}}</string>
                <key>offset</key>
                <string>{-16,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,119},{635,241}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1438},{635,245}}</string>
                <key>offset</key>
                <string>{-16,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,119},{635,245}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1663},{635,241}}</string>
                <key>offset</key>
                <string>{-16,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,120},{635,241}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,1535},{635,215}}</string>
                <key>offset</key>
                <string>{-16,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,146},{635,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1906},{635,221}}</string>
                <key>offset</key>
                <string>{-16,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,140},{635,221}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1438},{637,223}}</string>
                <key>offset</key>
                <string>{-15,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,138},{637,223}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1438},{637,223}}</string>
                <key>offset</key>
                <string>{-15,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,138},{637,223}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1079},{641,223}}</string>
                <key>offset</key>
                <string>{-13,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,138},{641,223}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1981,1308},{639,225}}</string>
                <key>offset</key>
                <string>{-14,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,136},{639,225}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1981,1308},{639,225}}</string>
                <key>offset</key>
                <string>{-14,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,136},{639,225}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1304},{639,225}}</string>
                <key>offset</key>
                <string>{-14,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,136},{639,225}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1304},{639,225}}</string>
                <key>offset</key>
                <string>{-14,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,136},{639,225}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1983,1079},{639,227}}</string>
                <key>offset</key>
                <string>{-14,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,134},{639,227}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,1752},{621,229}}</string>
                <key>offset</key>
                <string>{-23,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,132},{621,229}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1774},{589,227}}</string>
                <key>offset</key>
                <string>{-39,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,134},{589,227}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,3326},{559,227}}</string>
                <key>offset</key>
                <string>{-54,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,134},{559,227}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2657},{561,225}}</string>
                <key>offset</key>
                <string>{-53,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,136},{561,225}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2657},{561,225}}</string>
                <key>offset</key>
                <string>{-53,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,136},{561,225}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3321},{559,227}}</string>
                <key>offset</key>
                <string>{-54,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,134},{559,227}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3321},{559,227}}</string>
                <key>offset</key>
                <string>{-54,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,134},{559,227}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,3138},{559,227}}</string>
                <key>offset</key>
                <string>{-54,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,134},{559,227}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,3109},{559,227}}</string>
                <key>offset</key>
                <string>{-54,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,134},{559,227}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,3109},{559,227}}</string>
                <key>offset</key>
                <string>{-54,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,134},{559,227}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3092},{559,227}}</string>
                <key>offset</key>
                <string>{-54,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,134},{559,227}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3092},{559,227}}</string>
                <key>offset</key>
                <string>{-54,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,134},{559,227}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,2909},{559,227}}</string>
                <key>offset</key>
                <string>{-54,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,134},{559,227}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,3097},{559,227}}</string>
                <key>offset</key>
                <string>{-54,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,134},{559,227}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,3097},{559,227}}</string>
                <key>offset</key>
                <string>{-54,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,134},{559,227}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,2645},{561,225}}</string>
                <key>offset</key>
                <string>{-53,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,136},{561,225}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,2645},{561,225}}</string>
                <key>offset</key>
                <string>{-53,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,136},{561,225}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2884},{561,223}}</string>
                <key>offset</key>
                <string>{-53,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,138},{561,223}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,2872},{561,223}}</string>
                <key>offset</key>
                <string>{-53,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,138},{561,223}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>YGPZ75_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,2872},{561,223}}</string>
                <key>offset</key>
                <string>{-53,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,138},{561,223}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>YGPZ75.png</string>
            <key>size</key>
            <string>{2798,4027}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8959d4e9b63327b6b6ae1af35f36f404$</string>
            <key>textureFileName</key>
            <string>YGPZ75.png</string>
        </dict>
    </dict>
</plist>
