<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,315},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,315},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,385},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,385},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,296},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,296},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,296},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,296},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,296},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,296},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,296},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,360},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,360},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,366},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,403},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,403},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,455},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,455},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,366},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,366},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,366},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,366},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,366},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,366},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_b_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,430},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,430},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,490},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,436},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,473},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,473},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,525},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,525},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,436},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,436},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,436},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,436},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,436},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,436},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,500},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,500},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,560},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,506},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,543},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,543},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,595},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,595},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,506},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,506},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,506},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/anim/anim_y_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,506},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/numgame/num0.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,0},{148,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,159}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/numgame/num1.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,0},{148,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,159}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/numgame/num2.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,0},{148,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,159}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/numgame/num3.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,0},{148,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,159}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/numgame/num4.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,0},{148,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,159}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/numgame/num5.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,148},{148,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,159}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/numgame/num6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,167},{148,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,159}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/numgame/num7.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,148},{148,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,159}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/numgame/num8.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,148},{148,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,159}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/numgame/num9.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,148},{148,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,159}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/numgame/txz_d2_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{172,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,167}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/numgame/txz_dkk_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,296},{146,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,107}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/numgame/txz_dkk_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,253},{151,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,107}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/numgame/txz_dkk_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,148},{162,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,105}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/numgame/txz_lsxz_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,0},{114,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,34}</string>
			</dict>
			<key>game/yule/jdob/res/GUI/zhongjiang1_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,253},{237,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,62}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>jdobGUIAnimPlist.png</string>
			<key>realTextureFileName</key>
			<string>jdobGUIAnimPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>