<?xml version="1.0"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>A.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,1},{31,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{31,45}</string>
      </dict>
      <key>heitao.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,48},{31,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{31,31}</string>
      </dict>
      <key>huanle30s_shou_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,1},{252,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{252,116}</string>
      </dict>
      <key>huanle30s_shou_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{219,159}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{219,159}</string>
      </dict>
      <key>huanle30s_shou_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,119},{252,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{252,116}</string>
      </dict>
      <key>huanle30s_shou_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,237},{252,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{252,116}</string>
      </dict>
      <key>huanle30s_shou_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,237},{252,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{252,116}</string>
      </dict>
      <key>huanle30s_shou_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,355},{252,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{252,116}</string>
      </dict>
      <key>huanle30s_shou_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,355},{252,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{252,116}</string>
      </dict>
      <key>huanle30s_shou_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,473},{252,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{252,116}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>huanle30s_fanpai.png</string>
      <key>realTextureFileName</key>
      <string>huanle30s_fanpai.png</string>
      <key>size</key>
      <string>{508,590}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>508</integer>
      <key>height</key>
      <integer>590</integer>
    </dict>
  </dict>
</plist>
