<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CBS75_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{447,213}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,137},{447,213}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1828},{333,213}}</string>
                <key>offset</key>
                <string>{59,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,137},{333,213}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3660},{289,213}}</string>
                <key>offset</key>
                <string>{81,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,137},{289,213}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,3450},{265,221}}</string>
                <key>offset</key>
                <string>{92,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,138},{265,221}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1566},{353,333}}</string>
                <key>offset</key>
                <string>{68,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,26},{353,333}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1539},{353,333}}</string>
                <key>offset</key>
                <string>{68,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,26},{353,333}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1121},{353,333}}</string>
                <key>offset</key>
                <string>{68,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,26},{353,333}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,3802},{265,249}}</string>
                <key>offset</key>
                <string>{92,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,110},{265,249}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,3802},{265,283}}</string>
                <key>offset</key>
                <string>{92,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,76},{265,283}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,806},{335,313}}</string>
                <key>offset</key>
                <string>{73,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,46},{335,313}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2525},{311,323}}</string>
                <key>offset</key>
                <string>{77,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,36},{311,323}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2508},{323,223}}</string>
                <key>offset</key>
                <string>{63,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,136},{323,223}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2974},{297,205}}</string>
                <key>offset</key>
                <string>{73,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,152},{297,205}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2945},{299,205}}</string>
                <key>offset</key>
                <string>{75,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,152},{299,205}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2971},{299,205}}</string>
                <key>offset</key>
                <string>{74,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,152},{299,205}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,3717},{253,205}}</string>
                <key>offset</key>
                <string>{51,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,152},{253,205}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,3253},{209,195}}</string>
                <key>offset</key>
                <string>{59,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,161},{209,195}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3875},{217,197}}</string>
                <key>offset</key>
                <string>{66,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,178},{217,197}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,3564},{291,101}}</string>
                <key>offset</key>
                <string>{101,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,262},{291,101}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3450},{291,115}}</string>
                <key>offset</key>
                <string>{101,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,247},{291,115}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,3181},{291,161}}</string>
                <key>offset</key>
                <string>{101,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,202},{291,161}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,3152},{291,161}}</string>
                <key>offset</key>
                <string>{101,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,202},{291,161}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2960},{291,161}}</string>
                <key>offset</key>
                <string>{101,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,202},{291,161}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2733},{317,115}}</string>
                <key>offset</key>
                <string>{88,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,247},{317,115}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1077},{371,161}}</string>
                <key>offset</key>
                <string>{61,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,202},{371,161}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,3344},{291,115}}</string>
                <key>offset</key>
                <string>{101,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,247},{291,115}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1403},{357,161}}</string>
                <key>offset</key>
                <string>{68,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,201},{357,161}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1456},{357,163}}</string>
                <key>offset</key>
                <string>{68,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,200},{357,163}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2643},{317,115}}</string>
                <key>offset</key>
                <string>{88,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,247},{317,115}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1240},{369,161}}</string>
                <key>offset</key>
                <string>{62,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,201},{369,161}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1077},{371,161}}</string>
                <key>offset</key>
                <string>{61,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,202},{371,161}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{381,277}}</string>
                <key>offset</key>
                <string>{56,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,86},{381,277}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{373,155}}</string>
                <key>offset</key>
                <string>{60,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,207},{373,155}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{375,161}}</string>
                <key>offset</key>
                <string>{59,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,205},{375,161}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3178},{295,119}}</string>
                <key>offset</key>
                <string>{99,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,248},{295,119}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,3545},{291,101}}</string>
                <key>offset</key>
                <string>{101,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,262},{291,101}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,2669},{289,113}}</string>
                <key>offset</key>
                <string>{102,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,250},{289,113}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,3432},{291,111}}</string>
                <key>offset</key>
                <string>{101,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,252},{291,111}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,3461},{291,101}}</string>
                <key>offset</key>
                <string>{101,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,262},{291,101}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,3315},{291,115}}</string>
                <key>offset</key>
                <string>{101,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,248},{291,115}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3567},{291,91}}</string>
                <key>offset</key>
                <string>{101,-141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,283},{291,91}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2760},{315,121}}</string>
                <key>offset</key>
                <string>{89,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,247},{315,121}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,534},{337,151}}</string>
                <key>offset</key>
                <string>{78,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,217},{337,151}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2502},{329,139}}</string>
                <key>offset</key>
                <string>{82,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,225},{329,139}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,2043},{313,99}}</string>
                <key>offset</key>
                <string>{90,-127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,265},{313,99}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,2358},{309,99}}</string>
                <key>offset</key>
                <string>{92,-127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,265},{309,99}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2883},{301,89}}</string>
                <key>offset</key>
                <string>{96,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,274},{301,89}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,687},{337,117}}</string>
                <key>offset</key>
                <string>{78,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,257},{337,117}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2838},{305,131}}</string>
                <key>offset</key>
                <string>{94,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,233},{305,131}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,3667},{289,133}}</string>
                <key>offset</key>
                <string>{102,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,232},{289,133}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3299},{291,149}}</string>
                <key>offset</key>
                <string>{101,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,218},{291,149}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,3648},{291,95}}</string>
                <key>offset</key>
                <string>{101,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,274},{291,95}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2850},{305,93}}</string>
                <key>offset</key>
                <string>{109,-141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,282},{305,93}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1621},{349,205}}</string>
                <key>offset</key>
                <string>{131,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,168},{349,205}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1332},{367,205}}</string>
                <key>offset</key>
                <string>{140,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,167},{367,205}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,723},{377,201}}</string>
                <key>offset</key>
                <string>{145,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,174},{377,201}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{395,253}}</string>
                <key>offset</key>
                <string>{136,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,117},{395,253}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,518},{377,203}}</string>
                <key>offset</key>
                <string>{145,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,159},{377,203}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{377,257}}</string>
                <key>offset</key>
                <string>{145,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{290,107},{377,257}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{377,259}}</string>
                <key>offset</key>
                <string>{145,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,107},{377,259}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,257},{377,259}}</string>
                <key>offset</key>
                <string>{145,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,106},{377,259}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,926},{371,265}}</string>
                <key>offset</key>
                <string>{148,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,101},{371,265}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1193},{371,137}}</string>
                <key>offset</key>
                <string>{148,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,229},{371,137}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,381},{337,151}}</string>
                <key>offset</key>
                <string>{165,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,216},{337,151}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1901},{333,157}}</string>
                <key>offset</key>
                <string>{167,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,211},{333,157}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1874},{333,157}}</string>
                <key>offset</key>
                <string>{167,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,211},{333,157}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2190},{333,155}}</string>
                <key>offset</key>
                <string>{167,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,213},{333,155}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2043},{333,155}}</string>
                <key>offset</key>
                <string>{167,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,213},{333,155}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2060},{333,155}}</string>
                <key>offset</key>
                <string>{167,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,213},{333,155}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2033},{333,155}}</string>
                <key>offset</key>
                <string>{167,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,213},{333,155}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2347},{333,153}}</string>
                <key>offset</key>
                <string>{167,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,215},{333,153}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2200},{333,153}}</string>
                <key>offset</key>
                <string>{167,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,215},{333,153}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2355},{333,151}}</string>
                <key>offset</key>
                <string>{167,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,217},{333,151}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2372},{333,151}}</string>
                <key>offset</key>
                <string>{167,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,217},{333,151}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>CBS75_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2217},{333,153}}</string>
                <key>offset</key>
                <string>{167,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,215},{333,153}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>QH_CBS75.png</string>
            <key>size</key>
            <string>{1108,4074}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:feafe419e3d11554c3c14f0c2e6abe3e$</string>
            <key>textureFileName</key>
            <string>QH_CBS75.png</string>
        </dict>
    </dict>
</plist>
