<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/VIP/GUI/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,925},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1222},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1519},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,925},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,463},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,1},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,1},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,444},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1163,1},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,428},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1525,1},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1326,830},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,920},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,1127},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,1217},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1222},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1519},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1492,1127},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,1424},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,1514},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,1721},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_gb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1730,479},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_hd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1887,178},{134,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,140}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_jd1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2026},{765,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{765,20}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_jd2.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,876},{765,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{765,20}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_jd3.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,898},{765,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{765,20}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_jt.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,444},{91,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,15}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_kf1.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,298},{283,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{283,79}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_sr1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,298},{283,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{283,79}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_tq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1167,379},{172,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,32}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_wh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1281,725},{69,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,81}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_zp1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1838,507},{196,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,198}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_zp2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,479},{211,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,198}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_zp3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1816},{240,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,208}</string>
			</dict>
			<key>client/res/VIP/GUI/dizuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,298},{292,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,91}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_jinbi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1454,298},{137,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,114}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_jinbi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,679},{179,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,149}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_jlingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,1816},{235,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,200}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_kuangkuang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,463},{428,460}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{428,460}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_kuangkuang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{436,460}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{436,460}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_suozhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1887,1},{156,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,175}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_tj.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,741},{233,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,93}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_yuetian.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,379},{177,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,47}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_zhihui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1373,325},{79,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,96}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_zhoutian.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,379},{177,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,47}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_zhoutian11.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,444},{15,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,17}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_wz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,836},{265,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{265,26}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_wz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,817},{258,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,25}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_dzg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1593,298},{257,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,179}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,391},{165,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,68}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_kuangkuang00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1852,320},{185,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,185}</string>
			</dict>
			<key>client/res/VIP/GUI/dating_xiaohongdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1341,352},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_vipbt.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,391},{201,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,51}</string>
			</dict>
			<key>client/res/VIP/GUI/outros.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,298},{112,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,25}</string>
			</dict>
			<key>client/res/VIP/GUI/spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,325},{63,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,25}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_anniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1034,741},{245,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,74}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_dengjitix1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,844},{179,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,22}</string>
			</dict>
			<key>client/res/VIP/GUI/vipdban.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,760},{366,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{366,114}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>VIPPlist.png</string>
			<key>realTextureFileName</key>
			<string>VIPPlist.png</string>
			<key>size</key>
			<string>{2044,2047}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2044</integer>
			<key>height</key>
			<integer>2047</integer>
		</dict>
	</dict>
</plist>