<?xml version="1.0"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>kaishi_di.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{509,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{509,123}</string>
      </dict>
      <key>kaishixiazhu.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,99},{345,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{345,95}</string>
      </dict>
      <key>tingzhixiazhu.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,1},{346,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceSize</key>
        <string>{346,96}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>kaishixiazhu_kaijiang.png</string>
      <key>realTextureFileName</key>
      <string>kaishixiazhu_kaijiang.png</string>
      <key>size</key>
      <string>{859,195}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>859</integer>
      <key>height</key>
      <integer>195</integer>
    </dict>
  </dict>
</plist>
