<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/cashOut/GUI/tx_an.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,399},{476,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{476,180}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_an0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,215},{476,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{476,180}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_an1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,775},{237,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,97}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_ch.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,2},{37,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,38}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_gb.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,215},{167,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,167}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_gth.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,442},{45,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,47}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_jl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,329},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_jl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,386},{59,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,52}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_js.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,207},{187,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,188}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_jt.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,493},{71,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,77}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_kf.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,2},{105,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_los.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,399},{187,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,188}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_ls.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,591},{187,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,188}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_lu.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,111},{105,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_lvs.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,591},{187,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,188}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_pix.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,386},{117,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,88}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_shuzi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,884},{243,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,40}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_shuzi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,574},{53,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,38}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_sm.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,220},{105,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_srk.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,478},{80,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,74}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_wz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,417},{116,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,28}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_wz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,556},{75,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,28}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_xl.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,808},{253,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,88}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_xl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,876},{219,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,2}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_xz.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,2},{201,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,201}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_zh.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,583},{187,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,188}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_zs.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,583},{187,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,188}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_zs1.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,616},{187,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,188}</string>
			</dict>
			<key>client/res/cashOut/GUI/tx_cz.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,783},{237,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,97}</string>
			</dict>
			<key>client/res/cashOut/GUI/tixian_xuanjindi_9s.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,220},{53,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,193}</string>
			</dict>
			<key>client/res/cashOut/GUI/tixian_xuanjindi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{663,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{663,209}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CashOutPlist.png</string>
			<key>realTextureFileName</key>
			<string>CashOutPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>