<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BaiShen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,878},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>BaiShen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,732},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>BaiShen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,732},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>BaiShen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,586},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>BaiShen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,586},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Boss_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,878},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Boss_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,732},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Boss_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,586},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Boss_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,440},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Boss_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,440},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Da_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,878},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Da_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,732},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Da_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,586},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Da_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,294},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Da_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,294},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Dian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,440},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Dian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,878},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Dian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,732},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Dian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,586},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Dian_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,148},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Gang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,148},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Gang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,294},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Gang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,440},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Gang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,878},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Gang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,732},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Huo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,586},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Huo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Huo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Huo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,148},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Huo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,294},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>JunNv_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,440},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>JunNv_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,878},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>JunNv_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,732},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>JunNv_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,586},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>JunNv_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Jun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,148},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Jun_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,294},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Jun_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,440},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Jun_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Jun_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Pang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Pang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,148},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Pang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,294},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Pang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,440},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Pang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Wu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Wu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,148},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Wu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,294},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Wu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Wu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Xiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,148},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Xiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Xiao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Xiao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>Xiao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game1_itemJump.png</string>
            <key>size</key>
            <string>{1122,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e96df2f112d400f2b119810a7fbf8dd0$</string>
            <key>textureFileName</key>
            <string>game1_itemJump.png</string>
        </dict>
    </dict>
</plist>
