<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BJB75_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,502},{467,215}}</string>
                <key>offset</key>
                <string>{-9,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,137},{467,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{467,215}}</string>
                <key>offset</key>
                <string>{-9,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,137},{467,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,621},{467,215}}</string>
                <key>offset</key>
                <string>{-11,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,137},{467,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,448},{467,215}}</string>
                <key>offset</key>
                <string>{-11,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,137},{467,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,285},{467,215}}</string>
                <key>offset</key>
                <string>{-11,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,137},{467,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,285},{467,215}}</string>
                <key>offset</key>
                <string>{-11,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,137},{467,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1266},{443,217}}</string>
                <key>offset</key>
                <string>{1,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,135},{443,217}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2167},{411,217}}</string>
                <key>offset</key>
                <string>{17,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,135},{411,217}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2727},{401,217}}</string>
                <key>offset</key>
                <string>{22,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,135},{401,217}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,2},{509,281}}</string>
                <key>offset</key>
                <string>{-31,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,70},{509,281}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{509,281}}</string>
                <key>offset</key>
                <string>{-31,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,70},{509,281}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,2914},{389,215}}</string>
                <key>offset</key>
                <string>{29,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,136},{389,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,2697},{389,215}}</string>
                <key>offset</key>
                <string>{29,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,136},{389,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,2},{495,263}}</string>
                <key>offset</key>
                <string>{-24,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,88},{495,263}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,838},{459,277}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,74},{459,277}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,3318},{375,215}}</string>
                <key>offset</key>
                <string>{36,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,136},{375,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,3348},{373,215}}</string>
                <key>offset</key>
                <string>{37,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,136},{373,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,3131},{373,215}}</string>
                <key>offset</key>
                <string>{37,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,136},{373,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2946},{391,215}}</string>
                <key>offset</key>
                <string>{28,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,136},{391,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2729},{397,217}}</string>
                <key>offset</key>
                <string>{25,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,144},{397,217}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,2930},{377,327}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,24},{377,327}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2577},{397,327}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,24},{397,327}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,3374},{377,331}}</string>
                <key>offset</key>
                <string>{38,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,24},{377,331}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3374},{377,331}}</string>
                <key>offset</key>
                <string>{38,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,24},{377,331}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,2304},{391,331}}</string>
                <key>offset</key>
                <string>{44,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,24},{391,331}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2398},{407,327}}</string>
                <key>offset</key>
                <string>{53,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,25},{407,327}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1901},{415,329}}</string>
                <key>offset</key>
                <string>{56,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,26},{415,329}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,1900},{417,241}}</string>
                <key>offset</key>
                <string>{57,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,123},{417,241}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2069},{417,327}}</string>
                <key>offset</key>
                <string>{57,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,24},{417,327}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2386},{407,341}}</string>
                <key>offset</key>
                <string>{52,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,25},{407,341}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2232},{407,343}}</string>
                <key>offset</key>
                <string>{52,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,23},{407,343}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1019},{451,245}}</string>
                <key>offset</key>
                <string>{74,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,124},{451,245}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1830},{431,335}}</string>
                <key>offset</key>
                <string>{61,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,23},{431,335}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,2143},{411,335}}</string>
                <key>offset</key>
                <string>{50,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,24},{411,335}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,1352},{443,211}}</string>
                <key>offset</key>
                <string>{79,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,150},{443,211}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1252},{443,223}}</string>
                <key>offset</key>
                <string>{79,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,152},{443,223}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1485},{437,351}}</string>
                <key>offset</key>
                <string>{84,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,24},{437,351}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,1565},{437,333}}</string>
                <key>offset</key>
                <string>{84,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,24},{437,333}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1477},{437,351}}</string>
                <key>offset</key>
                <string>{84,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,24},{437,351}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,2480},{399,203}}</string>
                <key>offset</key>
                <string>{66,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,148},{399,203}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2906},{389,199}}</string>
                <key>offset</key>
                <string>{61,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,166},{389,199}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,2948},{385,223}}</string>
                <key>offset</key>
                <string>{59,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,143},{385,223}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,3318},{373,221}}</string>
                <key>offset</key>
                <string>{53,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,137},{373,221}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1550},{373,221}}</string>
                <key>offset</key>
                <string>{53,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,137},{373,221}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,3107},{377,209}}</string>
                <key>offset</key>
                <string>{55,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,149},{377,209}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,3348},{373,209}}</string>
                <key>offset</key>
                <string>{53,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,149},{373,209}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3163},{385,209}}</string>
                <key>offset</key>
                <string>{59,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,150},{385,209}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,3348},{373,209}}</string>
                <key>offset</key>
                <string>{53,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,149},{373,209}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1196},{445,219}}</string>
                <key>offset</key>
                <string>{93,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,131},{445,219}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,2685},{389,243}}</string>
                <key>offset</key>
                <string>{65,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,107},{389,243}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,3318},{375,257}}</string>
                <key>offset</key>
                <string>{59,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,93},{375,257}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1925},{377,267}}</string>
                <key>offset</key>
                <string>{60,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,83},{377,267}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1838},{431,229}}</string>
                <key>offset</key>
                <string>{86,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,121},{431,229}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1660},{433,239}}</string>
                <key>offset</key>
                <string>{87,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,111},{433,239}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1017},{455,233}}</string>
                <key>offset</key>
                <string>{98,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,117},{455,233}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1417},{441,241}}</string>
                <key>offset</key>
                <string>{92,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,110},{441,241}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,1117},{447,233}}</string>
                <key>offset</key>
                <string>{95,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,119},{447,233}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,969},{459,225}}</string>
                <key>offset</key>
                <string>{100,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,129},{459,225}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{463,151}}</string>
                <key>offset</key>
                <string>{102,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,206},{463,151}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,621},{463,153}}</string>
                <key>offset</key>
                <string>{102,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,206},{463,153}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,665},{463,151}}</string>
                <key>offset</key>
                <string>{102,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,208},{463,151}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,621},{463,153}}</string>
                <key>offset</key>
                <string>{102,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,206},{463,153}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,665},{463,151}}</string>
                <key>offset</key>
                <string>{102,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,208},{463,151}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,818},{463,149}}</string>
                <key>offset</key>
                <string>{102,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,210},{463,149}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,818},{463,149}}</string>
                <key>offset</key>
                <string>{102,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,210},{463,149}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,719},{463,149}}</string>
                <key>offset</key>
                <string>{102,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,210},{463,149}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{463,145}}</string>
                <key>offset</key>
                <string>{102,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,213},{463,145}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,870},{463,145}}</string>
                <key>offset</key>
                <string>{102,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,211},{463,145}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,225},{491,177}}</string>
                <key>offset</key>
                <string>{88,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,177},{491,177}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,267},{487,179}}</string>
                <key>offset</key>
                <string>{43,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,175},{487,179}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,1117},{431,195}}</string>
                <key>offset</key>
                <string>{29,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,159},{431,195}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{467,215}}</string>
                <key>offset</key>
                <string>{5,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,139},{467,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,2},{493,221}}</string>
                <key>offset</key>
                <string>{-8,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,133},{493,221}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{467,215}}</string>
                <key>offset</key>
                <string>{-9,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,137},{467,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
            <key>BJB75_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,404},{469,215}}</string>
                <key>offset</key>
                <string>{-10,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,137},{469,215}}</string>
                <key>sourceSize</key>
                <string>{667,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BJB75.png</string>
            <key>size</key>
            <string>{2039,3755}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c91f631c5d5772259fb43f592c15244d$</string>
            <key>textureFileName</key>
            <string>BJB75.png</string>
        </dict>
    </dict>
</plist>
