<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/title/title_bank_logon.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,283},{253,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,31}</string>
			</dict>
			<key>client/res/title/title_bank_rzjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,84},{307,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,38}</string>
			</dict>
			<key>client/res/title/title_bank_xgmm.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,316},{239,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,31}</string>
			</dict>
			<key>client/res/title/title_bank_zrjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{392,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{392,39}</string>
			</dict>
			<key>client/res/title/title_club_cylb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,241},{252,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,34}</string>
			</dict>
			<key>client/res/title/title_club_gg.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,45},{135,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,31}</string>
			</dict>
			<key>client/res/title/title_club_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,279},{242,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{242,33}</string>
			</dict>
			<key>client/res/title/title_club_sqlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,204},{281,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,33}</string>
			</dict>
			<key>client/res/title/title_club_tc.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,318},{230,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,32}</string>
			</dict>
			<key>client/res/title/title_grxx.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,126},{309,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,36}</string>
			</dict>
			<key>client/res/title/title_kf.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,45},{367,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{367,35}</string>
			</dict>
			<key>client/res/title/title_phb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,166},{287,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{287,34}</string>
			</dict>
			<key>client/res/title/title_rwlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,241},{224,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,38}</string>
			</dict>
			<key>client/res/title/title_sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,84},{172,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>TitlePlist.png</string>
			<key>realTextureFileName</key>
			<string>TitlePlist.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>