<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>xyaoqianshu/buyu/_bang_zhu9.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,369},{85,85}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>xyaoqianshu/buyu/_fan_hui15.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,195},{85,85}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>xyaoqianshu/buyu/_she_zhi13.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,368},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>xyaoqianshu/buyu/_xia_la_kuang7.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,4},{99,368}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,369}</string>
			</dict>
			<key>xyaoqianshu/buyu/_zu-111.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,109},{84,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,97}</string>
			</dict>
			<key>xyaoqianshu/buyu/jiasu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,4},{96,97}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>xyaoqianshu/buyu/jiasu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,332},{83,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,30}</string>
			</dict>
			<key>xyaoqianshu/buyu/jiasu4.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,166},{85,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,30}</string>
			</dict>
			<key>xyaoqianshu/buyu/special.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{214,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,212}</string>
			</dict>
			<key>xyaoqianshu/buyu/suoding1.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,90},{96,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>xyaoqianshu/buyu/zidong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,4},{96,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>xyaoqianshu/shezhi/_yin_le39.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,224},{60,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,32}</string>
			</dict>
			<key>xyaoqianshu/shezhi/_yin_xiao42.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,264},{60,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,32}</string>
			</dict>
			<key>xyaoqianshu/shezhi/off.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,4},{135,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,78}</string>
			</dict>
			<key>xyaoqianshu/shezhi/on.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,283},{135,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,78}</string>
			</dict>
			<key>xyaoqianshu/shezhi/X-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,166},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>xyaoqianshu/shezhi/help_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,380},{174,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,63}</string>
			</dict>
			<key>xyaoqianshu/shezhi/help_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,97},{174,61}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,63}</string>
			</dict>
			<key>xyaoqianshu/shezhi/help_btn3.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,212},{174,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,63}</string>
			</dict>
			<key>xyaoqianshu/shezhi/btn_ExitDialog_Cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,463},{283,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{287,89}</string>
			</dict>
			<key>xyaoqianshu/shezhi/btn_ExitDialog_Sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,4},{283,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{287,89}</string>
			</dict>
			<key>xyaoqianshu/shezhi/dntgtest_battle_ui_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,109},{94,93}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,97}</string>
			</dict>
			<key>xyaoqianshu/buyu/ui_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,485},{114,107}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,110}</string>
			</dict>
			<key>xyaoqianshu/buyu/ui_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,97},{110,107}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,110}</string>
			</dict>
			<key>xyaoqianshu/buyu/dntgtest_battle_ui_xuanding-kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,224},{136,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,136}</string>
			</dict>
			<key>xyaoqianshu/buyu/dntgtest_battle_ui_jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,368},{114,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,109}</string>
			</dict>
			<key>xyaoqianshu/buyu/dntgtest_battle_ui_txt_qiehuan-suoding.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,283},{140,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,43}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{971,596}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>971</integer>
			<key>height</key>
			<integer>596</integer>
		</dict>
	</dict>
</plist>