<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect_bg_water/effect_bg_water_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{548,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{548,600}</string>
			</dict>
			<key>effect_bg_water/effect_bg_water_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,606},{548,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{548,600}</string>
			</dict>
			<key>effect_bg_water/effect_bg_water_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1210},{548,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{548,600}</string>
			</dict>
			<key>effect_bg_water/effect_bg_water_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,2},{548,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{548,600}</string>
			</dict>
			<key>effect_bg_water/effect_bg_water_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,2},{548,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{548,600}</string>
			</dict>
			<key>effect_bg_water/effect_bg_water_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,554},{548,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{548,600}</string>
			</dict>
			<key>effect_bg_water/effect_bg_water_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,1158},{548,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{548,600}</string>
			</dict>
			<key>effect_bg_water/effect_bg_water_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,554},{548,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{548,600}</string>
			</dict>
			<key>effect_bg_water/effect_bg_water_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,1106},{548,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{548,600}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>effect_bg_water_02.png</string>
			<key>realTextureFileName</key>
			<string>effect_bg_water_02.png</string>
			<key>size</key>
			<string>{1760,1812}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1760</integer>
			<key>height</key>
			<integer>1812</integer>
		</dict>
	</dict>
</plist>