<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/ShareTurnTable/0x.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,832},{42,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,66}</string>
			</dict>
			<key>client/res/ShareTurnTable/1x.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,958},{30,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,66}</string>
			</dict>
			<key>client/res/ShareTurnTable/2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,1421},{44,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,66}</string>
			</dict>
			<key>client/res/ShareTurnTable/3x.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,1487},{44,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,66}</string>
			</dict>
			<key>client/res/ShareTurnTable/4x.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,1355},{46,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,66}</string>
			</dict>
			<key>client/res/ShareTurnTable/5x.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,1553},{44,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,66}</string>
			</dict>
			<key>client/res/ShareTurnTable/6x.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,744},{44,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,66}</string>
			</dict>
			<key>client/res/ShareTurnTable/7x.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,916},{42,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,64}</string>
			</dict>
			<key>client/res/ShareTurnTable/8x.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,874},{42,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,66}</string>
			</dict>
			<key>client/res/ShareTurnTable/9x.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,788},{44,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,66}</string>
			</dict>
			<key>client/res/ShareTurnTable/back2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,594},{130,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,150}</string>
			</dict>
			<key>client/res/ShareTurnTable/button012x.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1920},{362,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,113}</string>
			</dict>
			<key>client/res/ShareTurnTable/circle_zhizheng2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,1600},{184,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,168}</string>
			</dict>
			<key>client/res/ShareTurnTable/howBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,724},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>client/res/ShareTurnTable/linvkply2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,1279},{76,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,40}</string>
			</dict>
			<key>client/res/ShareTurnTable/lishijilv2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,768},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>client/res/ShareTurnTable/lucky_bk2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1971},{562,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{562,74}</string>
			</dict>
			<key>client/res/ShareTurnTable/right2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,1209},{70,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,52}</string>
			</dict>
			<key>client/res/ShareTurnTable/spin_font2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,594},{174,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,94}</string>
			</dict>
			<key>client/res/ShareTurnTable/spin2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1468},{372,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{372,372}</string>
			</dict>
			<key>client/res/ShareTurnTable/wrong2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,684},{62,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,60}</string>
			</dict>
			<key>client/res/ShareTurnTable/x2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,776},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>client/res/ShareTurnTable/tc_bk0022x.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,0},{1468,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1468,128}</string>
			</dict>
			<key>client/res/ShareTurnTable/card.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{610,368}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{610,368}</string>
			</dict>
			<key>client/res/ShareTurnTable/Avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,1619},{362,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{362,94}</string>
			</dict>
			<key>client/res/ShareTurnTable/Enlazartefono.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,368},{364,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{364,90}</string>
			</dict>
			<key>client/res/ShareTurnTable/Otorgar.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,1800},{300,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,100}</string>
			</dict>
			<key>client/res/ShareTurnTable/registrodeinvitac.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,0},{1008,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1008,78}</string>
			</dict>
			<key>client/res/ShareTurnTable/Tiempo.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,732},{184,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,88}</string>
			</dict>
			<key>client/res/ShareTurnTable/cicle_SPINE.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,1218},{382,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{382,231}</string>
			</dict>
			<key>client/res/ShareTurnTable/cicle01.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,1468},{226,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,234}</string>
			</dict>
			<key>client/res/ShareTurnTable/cicle02.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,1694},{226,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,234}</string>
			</dict>
			<key>client/res/ShareTurnTable/cicle03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,368},{226,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,234}</string>
			</dict>
			<key>client/res/ShareTurnTable/cicle04.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,368},{226,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,234}</string>
			</dict>
			<key>client/res/ShareTurnTable/Salvaraimagem.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,0},{342,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{342,64}</string>
			</dict>
			<key>client/res/ShareTurnTable/step.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,0},{1218,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1218,135}</string>
			</dict>
			<key>client/res/ShareTurnTable/button2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1840},{331,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{331,131}</string>
			</dict>
			<key>client/res/ShareTurnTable/money.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,1008},{201,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,129}</string>
			</dict>
			<key>client/res/ShareTurnTable/lucklefe.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,594},{182,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,221}</string>
			</dict>
			<key>client/res/ShareTurnTable/Copiarlink.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,342},{342,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{342,64}</string>
			</dict>
			<key>client/res/ShareTurnTable/button22x.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,1468},{332,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{332,132}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ShareTurnTableGUI.png</string>
			<key>realTextureFileName</key>
			<string>ShareTurnTableGUI.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>