<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_common_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,78},{250,76}}</string>
                <key>offset</key>
                <string>{-82,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{250,76}}</string>
                <key>sourceSize</key>
                <string>{450,110}</string>
            </dict>
            <key>game_common_btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,156},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>game_common_effect_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{362,76}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{362,76}}</string>
                <key>sourceSize</key>
                <string>{450,110}</string>
            </dict>
            <key>game_common_effect_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{360,74}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{360,74}}</string>
                <key>sourceSize</key>
                <string>{450,110}</string>
            </dict>
            <key>game_common_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{414,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{414,80}}</string>
                <key>sourceSize</key>
                <string>{450,110}</string>
            </dict>
            <key>game_common_jinbixinxi_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{368,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,78}}</string>
                <key>sourceSize</key>
                <string>{368,78}</string>
            </dict>
            <key>game_common_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,2}}</string>
                <key>sourceSize</key>
                <string>{44,2}</string>
            </dict>
            <key>game_common_music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{234,78}}</string>
                <key>offset</key>
                <string>{-91,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{234,78}}</string>
                <key>sourceSize</key>
                <string>{450,110}</string>
            </dict>
            <key>game_common_music_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{232,74}}</string>
                <key>offset</key>
                <string>{-90,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{232,74}}</string>
                <key>sourceSize</key>
                <string>{450,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_setting.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:071b18ba8c66321c39b188e83af357e6$</string>
            <key>textureFileName</key>
            <string>game_setting.png</string>
        </dict>
    </dict>
</plist>
