<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/VIP/GUI/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,930},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1229},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1528},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,930},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,466},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,2},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,2},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,443},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1162,440},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,2},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1526,301},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1534,2},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1526,600},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,908},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1418,899},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1094,1198},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,1207},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,1229},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,1528},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1458,1198},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1094,1497},{360,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,295}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,466},{428,460}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{428,460}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{436,460}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{436,460}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,384},{165,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,68}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_dzg.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,1827},{257,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,179}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_gb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,330},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_hd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,301},{134,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,140}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_jd1.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,2010},{765,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{765,20}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_jd2.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,860},{765,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{765,20}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_jd3.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,884},{765,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{765,20}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_jt.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,908},{91,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,15}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_jt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,414},{178,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,25}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_kf1.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,765},{283,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{283,79}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_sr1.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,301},{283,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{283,79}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_tq.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,301},{172,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,32}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_wh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,742},{69,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,81}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_wz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,384},{265,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{265,26}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_wz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,414},{258,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,25}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_zp1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1782,899},{196,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,198}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_zp2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,739},{211,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,198}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_zp3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1827},{240,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,208}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_jt1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,337},{211,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,25}</string>
			</dict>
			<key>client/res/VIP/GUI/vip_jt1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,301},{193,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,25}</string>
			</dict>
			<key>client/res/VIP/GUI/dizuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,765},{292,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,91}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>VIPPlist.png</string>
			<key>realTextureFileName</key>
			<string>VIPPlist.png</string>
			<key>size</key>
			<string>{2026,2037}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2026</integer>
			<key>height</key>
			<integer>2037</integer>
		</dict>
	</dict>
</plist>