<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>client/res/Activity/GUI/anniu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,703},{303,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,125}</string>
			</dict>
			<key>client/res/Activity/GUI/anniu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,832},{303,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,125}</string>
			</dict>
			<key>client/res/Activity/GUI/guanbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,703},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>client/res/Activity/GUI/huadong.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,961},{30,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,34}</string>
			</dict>
			<key>client/res/Activity/GUI/zhezhao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{331,697}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{331,697}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ActivityPlist.png</string>
			<key>realTextureFileName</key>
			<string>ActivityPlist.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>