<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>quan_huang_1170 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{483,278},{433,48}}</string>
                <key>offset</key>
                <string>{-31,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{433,48}}</string>
                <key>sourceSize</key>
                <string>{509,308}</string>
            </dict>
            <key>quan_huang_1170 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{337,170}}</string>
                <key>offset</key>
                <string>{81,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,131},{337,170}}</string>
                <key>sourceSize</key>
                <string>{509,308}</string>
            </dict>
            <key>quan_huang_1170 (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{483,170},{433,106}}</string>
                <key>offset</key>
                <string>{33,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,196},{433,106}}</string>
                <key>sourceSize</key>
                <string>{509,308}</string>
            </dict>
            <key>quan_huang_1170 (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{489,92}}</string>
                <key>offset</key>
                <string>{-3,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,211},{489,92}}</string>
                <key>sourceSize</key>
                <string>{509,308}</string>
            </dict>
            <key>quan_huang_1170 (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{473,104}}</string>
                <key>offset</key>
                <string>{-11,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,204},{473,104}}</string>
                <key>sourceSize</key>
                <string>{509,308}</string>
            </dict>
            <key>quan_huang_1170 (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{96,450},{377,144}}</string>
                <key>offset</key>
                <string>{-59,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,158},{377,144}}</string>
                <key>sourceSize</key>
                <string>{509,308}</string>
            </dict>
            <key>quan_huang_1170 (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{475,427},{281,206}}</string>
                <key>offset</key>
                <string>{-107,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,96},{281,206}}</string>
                <key>sourceSize</key>
                <string>{509,308}</string>
            </dict>
            <key>quan_huang_1170 (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{174,842},{177,266}}</string>
                <key>offset</key>
                <string>{-166,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{177,266}}</string>
                <key>sourceSize</key>
                <string>{509,308}</string>
            </dict>
            <key>quan_huang_1170 (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{469,328},{97,290}}</string>
                <key>offset</key>
                <string>{-206,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,290}}</string>
                <key>sourceSize</key>
                <string>{509,308}</string>
            </dict>
            <key>quan_huang_1170 (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{442,822},{161,280}}</string>
                <key>offset</key>
                <string>{-174,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{161,280}}</string>
                <key>sourceSize</key>
                <string>{509,308}</string>
            </dict>
            <key>quan_huang_1170 (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{174,596},{265,244}}</string>
                <key>offset</key>
                <string>{-122,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{265,244}}</string>
                <key>sourceSize</key>
                <string>{509,308}</string>
            </dict>
            <key>quan_huang_1170 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{487,108},{491,60}}</string>
                <key>offset</key>
                <string>{-2,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{491,60}}</string>
                <key>sourceSize</key>
                <string>{509,308}</string>
            </dict>
            <key>quan_huang_1170 (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{96,112},{385,176}}</string>
                <key>offset</key>
                <string>{-62,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{385,176}}</string>
                <key>sourceSize</key>
                <string>{509,308}</string>
            </dict>
            <key>quan_huang_1170 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{483,108}}</string>
                <key>offset</key>
                <string>{8,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{483,108}}</string>
                <key>sourceSize</key>
                <string>{509,308}</string>
            </dict>
            <key>quan_huang_1170 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{96,290},{371,158}}</string>
                <key>offset</key>
                <string>{64,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,2},{371,158}}</string>
                <key>sourceSize</key>
                <string>{509,308}</string>
            </dict>
            <key>quan_huang_1170 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{761,328},{251,208}}</string>
                <key>offset</key>
                <string>{124,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,4},{251,208}}</string>
                <key>sourceSize</key>
                <string>{509,308}</string>
            </dict>
            <key>quan_huang_1170 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{441,635},{185,264}}</string>
                <key>offset</key>
                <string>{157,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,3},{185,264}}</string>
                <key>sourceSize</key>
                <string>{509,308}</string>
            </dict>
            <key>quan_huang_1170 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{724,762},{81,296}}</string>
                <key>offset</key>
                <string>{209,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{423,4},{81,296}}</string>
                <key>sourceSize</key>
                <string>{509,308}</string>
            </dict>
            <key>quan_huang_1170 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{724,845},{153,266}}</string>
                <key>offset</key>
                <string>{173,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{351,34},{153,266}}</string>
                <key>sourceSize</key>
                <string>{509,308}</string>
            </dict>
            <key>quan_huang_1170 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{758,538},{249,222}}</string>
                <key>offset</key>
                <string>{125,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,78},{249,222}}</string>
                <key>sourceSize</key>
                <string>{509,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>quan_huang_TX_1170.png</string>
            <key>size</key>
            <string>{1022,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49495e50fd8bb12db1ad69d3a8952dd6$</string>
            <key>textureFileName</key>
            <string>quan_huang_TX_1170.png</string>
        </dict>
    </dict>
</plist>
