<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c-(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{429,125},{147,419}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{147,419}}</string>
                <key>sourceSize</key>
                <string>{173,447}</string>
            </dict>
            <key>c-(10).png</key>
            <dict>
                <key>frame</key>
                <string>{{419,274},{145,413}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{145,413}}</string>
                <key>sourceSize</key>
                <string>{173,447}</string>
            </dict>
            <key>c-(11).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{125,411}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{125,411}}</string>
                <key>sourceSize</key>
                <string>{173,447}</string>
            </dict>
            <key>c-(12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{129,401}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,22},{129,401}}</string>
                <key>sourceSize</key>
                <string>{173,447}</string>
            </dict>
            <key>c-(13).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{137,405}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{137,405}}</string>
                <key>sourceSize</key>
                <string>{173,447}</string>
            </dict>
            <key>c-(14).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{129,409}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{129,409}}</string>
                <key>sourceSize</key>
                <string>{173,447}</string>
            </dict>
            <key>c-(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{149,415}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{149,415}}</string>
                <key>sourceSize</key>
                <string>{173,447}</string>
            </dict>
            <key>c-(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{409,699},{141,403}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,21},{141,403}}</string>
                <key>sourceSize</key>
                <string>{173,447}</string>
            </dict>
            <key>c-(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{413,560},{137,407}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{137,407}}</string>
                <key>sourceSize</key>
                <string>{173,447}</string>
            </dict>
            <key>c-(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{413,421},{137,409}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{137,409}}</string>
                <key>sourceSize</key>
                <string>{173,447}</string>
            </dict>
            <key>c-(6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,425}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{139,425}}</string>
                <key>sourceSize</key>
                <string>{173,447}</string>
            </dict>
            <key>c-(7).png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{121,421}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{121,421}}</string>
                <key>sourceSize</key>
                <string>{173,447}</string>
            </dict>
            <key>c-(8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{135,415}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{135,415}}</string>
                <key>sourceSize</key>
                <string>{173,447}</string>
            </dict>
            <key>c-(9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{141,409}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{141,409}}</string>
                <key>sourceSize</key>
                <string>{173,447}</string>
            </dict>
            <key>dd-(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{834,419},{184,104}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{184,104}}</string>
                <key>sourceSize</key>
                <string>{204,134}</string>
            </dict>
            <key>dd-(10).png</key>
            <dict>
                <key>frame</key>
                <string>{{234,951},{176,124}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{176,124}}</string>
                <key>sourceSize</key>
                <string>{204,134}</string>
            </dict>
            <key>dd-(11).png</key>
            <dict>
                <key>frame</key>
                <string>{{824,525},{192,112}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{192,112}}</string>
                <key>sourceSize</key>
                <string>{204,134}</string>
            </dict>
            <key>dd-(12).png</key>
            <dict>
                <key>frame</key>
                <string>{{822,639},{190,108}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{190,108}}</string>
                <key>sourceSize</key>
                <string>{204,134}</string>
            </dict>
            <key>dd-(13).png</key>
            <dict>
                <key>frame</key>
                <string>{{795,867},{188,120}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{188,120}}</string>
                <key>sourceSize</key>
                <string>{204,134}</string>
            </dict>
            <key>dd-(14).png</key>
            <dict>
                <key>frame</key>
                <string>{{764,989},{188,114}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{188,114}}</string>
                <key>sourceSize</key>
                <string>{204,134}</string>
            </dict>
            <key>dd-(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{468,950},{182,106}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{182,106}}</string>
                <key>sourceSize</key>
                <string>{204,134}</string>
            </dict>
            <key>dd-(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{360,951},{176,106}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{176,106}}</string>
                <key>sourceSize</key>
                <string>{204,134}</string>
            </dict>
            <key>dd-(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{124,951},{180,108}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{180,108}}</string>
                <key>sourceSize</key>
                <string>{204,134}</string>
            </dict>
            <key>dd-(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{405,842},{188,106}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{188,106}}</string>
                <key>sourceSize</key>
                <string>{204,134}</string>
            </dict>
            <key>dd-(6).png</key>
            <dict>
                <key>frame</key>
                <string>{{595,842},{198,118}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{198,118}}</string>
                <key>sourceSize</key>
                <string>{204,134}</string>
            </dict>
            <key>dd-(7).png</key>
            <dict>
                <key>frame</key>
                <string>{{814,749},{204,116}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{204,116}}</string>
                <key>sourceSize</key>
                <string>{204,134}</string>
            </dict>
            <key>dd-(8).png</key>
            <dict>
                <key>frame</key>
                <string>{{576,989},{186,116}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{186,116}}</string>
                <key>sourceSize</key>
                <string>{204,134}</string>
            </dict>
            <key>dd-(9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,951},{180,120}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{180,120}}</string>
                <key>sourceSize</key>
                <string>{204,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XT_1120_1.png</string>
            <key>size</key>
            <string>{1020,1134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5a154c12a570afc87a8ff23d33e8009$</string>
            <key>textureFileName</key>
            <string>XT_1120_1.png</string>
        </dict>
    </dict>
</plist>
