<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_chip_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{174,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,180}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_smallchip_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,911},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_smallchip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,911},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_smallchip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,905},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_chip_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,183},{174,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,180}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_chip_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,365},{174,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,180}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_chip_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,547},{174,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,180}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_chip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,729},{174,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,180}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_chip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,1},{174,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,180}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_smallchip_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,905},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_smallchip_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,353},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_smallchip_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,458},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_xx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,983},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_xx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,983},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_xx4.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,1},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_xx5.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,983},{36,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,37}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/img_bjlnew.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,282},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_chip_cash_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,177},{174,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,180}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_chip_cash_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,359},{174,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,180}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_chip_cash_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,541},{174,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,180}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_chip_cash_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,723},{174,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,180}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_chip_cash_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,177},{174,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,180}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_chip_cash_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,1},{174,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,180}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_smallchip_cash_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,563},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_smallchip_cash_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,668},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_smallchip_cash_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,773},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_smallchip_cash_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,878},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_smallchip_cash_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,353},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
			<key>game/yule/baccarat/res/GUI/chips/bjl_smallchip_cash_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,177},{98,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,103}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist_chips.png</string>
			<key>realTextureFileName</key>
			<string>Plist_chips.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>